<template>
  <q-page class="column body404">
    <q-responsive :ratio="16/9" class="col" style="max-height: 100vh">
      <div class="text-white column flex-center text-center">
        <div class="text-h1 q-mb-none franchise">4-OH-NO!</div>
        <p class="proxima-regular q-ma-xl text-h5 text-center" style="max-width:800px;">
          {{$t('notFoundMessage')}}
        </p>
        <go-btn
          :text="$t('goHome')"
          container-style="width:50vh"
          btn-style="border:0px solid transparent!important"
          property="primary full-width q-mt-md text-bold text-align-center size-md"
          icon="arrow_right_alt"
          @click="$router.push('/')"
          icon-bg="#e53f2d"
          text-style="font-size: 14px;font-weight:bolder;"
        ></go-btn>
        <!-- <go-btn
          container-style="width:50vh"
          text="Show something random"
          btn-style="border:0px solid transparent!important"
          property="q-mt-md full-width opensans-bold bg-white text-bold text-align-center size-md"
          icon="arrow_right_alt"
          @click="$router.push('/')"
          icon-bg="grey-2"
          icon-class="bg-whitegrey text-black"
          text-style="font-size: 14px;color:black;font-weight:bolder"
        ></go-btn> -->
      </div>
    </q-responsive>
  </q-page>
</template>

<script>
export default {
  name: "PageIndex",
  data() {
    return {
      windowWidth: window.innerWidth
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  }
};
</script>

<style lang="scss" scoped>
.body404 {
  background: url("../../statics/404-bg.svg");
}
  * {
    overflow: hidden;
  }
</style>