<template>
<!-- {{trending}} -->
<!-- <p>{{trending}}</p> -->

 <div class="row q-gutter-md wrap justify-center q-mb-lg q-mt-lg" v-if="recommended != ''">
 
  <category-card
   v-for="(i,index) in recommended"
   :asin="i.home_product.asin"
   :key="index"
   :author="i.home_product.seller_name"
   :title="i.title"
   :image="i.home_product.main_pictures[0]"
   :price="i.home_product.converted_price"
   :old-price="i.home_product.original_price"
   
  >
  </category-card>
 </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
 data() {
  return {
   categorydetail: [
    {
     id: 1,
     image: "https://cdn.quasar.dev/img/parallax2.jpg",
     author: "Nintendo",
     price: "$99.99",
     old_price: "$199.99"
    }
   ],
   recommended :[

   ]
  };
 },
 computed: {
  ...mapGetters("address", ["homePageProducts","newhomePageProducts"])
 },
 components: {
  "category-card": require("src/app/extra-pages/components/category-card.vue")
   .default
 },
 methods: {
  ...mapActions("address", ["newHomePageProducts"]),
  async getProducts() {
   await this.newHomePageProducts();
   if (this.newhomePageProducts.count > 0) {
    this.recommended = [];
    this.newhomePageProducts.results.forEach(element => {
     if (element.home_product.group_type == "recommended") {
      this.recommended.push(element);
     }
     
     
    });
   }
  },
      
      
  
 },
 
 
 mounted() {
  this.getProducts();
 }
};
</script>
<style scoped></style>
