<template>
 <q-layout view="HHH llr fFf" class="pageWidth pageContainerWidth">
  <q-page-container class="row  justify-center">
    <q-drawer
      bordered
      v-model="categoryDrawerLeft"
      :width="300"
      :breakpoint="700"
      content-class="text-black"
      >

    <div :style="windowWidth <500 ?  'margin-top:80px;' : ''" class="text-h5 q-ma-md text-bold">{{$t('trending_categories')}}</div>
      <router-link @click="categoryDrawerLeft = !categoryDrawerLeft" class="remove-link" :class="$route.query.catid == i.ebay_id? 'make-cat-bold': ''" :to="{ name: 'trending', query: { catid: i.ebay_id } }"
       v-for="(i, index) in rootCategoryList" :key="index" >
       <p class="q-ml-md">{{ i.name }}</p>
      </router-link>
  </q-drawer>
   <div @click="categoryDrawerLeft = !categoryDrawerLeft" class=" q-mt-md row full-width justify-start full-width q-py-sm no-border-radius">
    <q-btn
    v-ripple.early
      class="cursor-pointer q-py-sm go-category--drawer__toggler full-width"
      style="border-top:1px solid lightgrey;border-bottom:1px solid lightgrey;"
      flat
      text-color="black">{{$t('trending_categories')}}</q-btn>
    </div>
   <div
    style="max-width:1024px;"
    class="row q-gutter-md wrap justify-center q-mb-lg q-mt-lg"
   >
  <div class="go-products-list-area-container">

    <div class="product-card-grid-container">
    <product-card-grid
    class="product-card-grid"
     v-for="(i, index) in trendingProducts.data.products"
     :productID="i.asin"
     :key="index"
     :title="i.title"
     :url="i.image"
     :price="i.sum_price | sum"
     style="max-width:240px;"
    >
    </product-card-grid>
    </div>
   </div>
   </div>
  </q-page-container>
 </q-layout>
</template>

<script>
import { mapActions, mapGetters, mapState } from "vuex";

export default {
 data() {
  return {
    label:'',
   categoryDrawerLeft: true,
    windowWidth: window.innerWidth,

   categorydetail: [
    {
     id: 1,
     image: "https://cdn.quasar.dev/img/parallax2.jpg",
     author: "Nintendo",
     price: "$99.99",
     old_price: "$199.99"
    }
   ],
   trending: []
  };
 },
 computed: {
  ...mapGetters("address", ["homePageProducts", "newhomePageProducts"]),
  ...mapState("category", ["rootCategoryList"]),
  ...mapGetters("category", ["trendingProducts"]),
 },
 components: {
  "category-card": require("src/app/extra-pages/components/category-card.vue")
   .default,

  "product-card-grid": require("src/app/products/product-list/components/product-card-grid.vue")
   .default
 },
 methods: {
  ...mapActions("address", ["newHomePageProducts"]),
  ...mapActions("category", [
   "getTrendingProducts",
   "getRootCategory",
   "getTrendingProductsWithCatId"
  ]),
  async getProducts() {
   await this.newHomePageProducts();
   if (this.newhomePageProducts.count > 0) {
    this.trending = [];
    this.newhomePageProducts.results.forEach(element => {
     if (element.home_product.group_type == "tranding") {
      this.trending.push(element);
     }
    });
   }
  }
 },

 mounted() {
  // this.getProducts();
    let self = this;
    window.addEventListener("resize", () => {
      self.windowWidth = window.innerWidth;
    });
  if (this.$route.query.catid) {
   this.getTrendingProductsWithCatId(this.$route.query.catid);
  } else {
   this.getTrendingProducts();
  }

  this.getRootCategory();
  this.rootCategory();
 }
};
</script>
<style scoped>
.pageWidth{
  max-width:1366px;
  justify-content:center;
}
.pageContainerWidth{
  display:flex;
  justify-content:center;
}
  .go-category--drawer__toggler {
    display:none;
  }

  .make-cat-bold{
   font-weight: 700;
  }
@media(max-width: 700px) and  (min-width:0px) {
  .go-category--drawer__toggler {
    display:block;
  }
}
.product-card-grid-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  /* justify-content: space-around; */
}
.product-card-grid {
  width: 20%;
  margin: 0 2.5%;
  margin-bottom: 20px;
}
@media (max-width: 800px) and (min-width: 600px) {
  .product-card-grid {
	width: 30%;
	margin: 0px 1.6%;
  }
}
@media (max-width: 600px) and (min-width: 0px) {
  .product-card-grid {
    width: 48%;
    margin: 1%;
  }
}
.go-products-list-area-container {
  display: flex;
  justify-content: center;
}
/* Here to get rid of mobile styles */
@media (max-width: 500px) and (min-width: 0px) {
  .go-products-list-area-container {
    background: #efefef;
  }
  .list-container {
    margin: 0px 10px;
  }
  .product-card-grid {
    box-shadow: 2px 3px 7px 2px rgba(0, 0, 0, 0.02);
  }
}
</style>
