<template>
  <!-- PROPS: url, title, desc, desc, price, old -->
  <router-link
    @click="goToProductDetails"
    :to="{ name: 'details', query: { itm: this.productID } }"
  >
    <div class="row justify-around" :class="container">
      <q-card square class="full-width" :class="cardClass">
        <!--  -->
        <div
          v-if="isDisabled===true"
          class="absolute-top q-pt-xl text-bold text-h4 text-primary text-center"
          style="z-index:15"
        >
          <div style="transform: rotate(-45deg);">{{$t('notAvailable')}}</div>
        </div>
        <q-img
          :src="url"
          ratio="1"
          contain
          class="bg-white-1"
          style="max-width:100%;"
          :style="[isDisabled===true ? 'opacity:0.6; filter: grayscale(100%);':'', windowWidth > 500 ? ' border: 1px solid lightgrey' : '']"
        />
        <div class="pcg-mobile__padding">
          <p
            class="pcg-author-padding text-grey opensans-bold ellipsis"
            :style="isDisabled===true ? 'opacity:0.6;':''"
          >
            <span class="text-bold" style>{{author}}</span>
            <!-- | truncate(17,'...') -->
          </p>
          <div
            :style="windowWidth > 500 ? 'min-height:125px;max-height:125px' : 'min-height:100px;max-height:100px'"
          >
            <p
              class="text-black text-bold opensans-semibold ellipsis-4-lines"
              :class="windowWidth > 800 ? 'text-subtitle1' : ''"
              :style="isDisabled===true ? 'opacity:0.6;':''"
            >{{title}}</p>
          </div>

          <q-card-actions class="row q-pa-none">
            <p
              class="text-primary text-subtitle1 text-weight-bolder opensans-bold title-size q-mb-sm"
              :style="isDisabled===true ? 'opacity:0.6;':''"
            >{{price}}&nbsp;&nbsp;&nbsp;</p>
            <p
              class="text-strike text-secondary text-subtitle1"
              :style="isDisabled===true ? 'opacity:0.6;':''"
            >{{old}}</p>
          </q-card-actions>
        </div>
      </q-card>
    </div>
  </router-link>
</template>

<script>
export default {
  props: [
    "url",
    "title",
    "author",
    "desc",
    "price",
    "old",
    "productID",
    "isDisabled",
    "container",
    "cardClass"
  ],

  methods: {
    goToProductDetails() {
      localStorage.setItem("imageURL", this.url);
    }
  }
};
</script>

<style lang="scss" scoped>
* {
  text-decoration: none;
}
.dont-allow {
  cursor: not-allowed;
}

.ellipsis-4-lines {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
  .pcg-author-padding {
	  padding-top: 10px;
  }
@media (max-width: 500px) and (min-width: 0px) {
  .pcg-mobile__padding {
    padding: 10px;
  }
}
</style>
