<template>
  <q-card class="full-width justify-center row">
        <q-form
            v-if="!isAuthentication"
            @submit="sendContact"
            @reset="onReset"
            method="POST"
            class="full-width justify-center row q-mb-md"
         >
          <div class="text-center" style="max-width:80%">
             <div  class="full-width row wrap justify-center"  style="max-width: 100%">
               <div class="column flex justify-center" style="width:60%">
                <h4 class="q-mt-xl subscribe4">Get In  touch.</h4>
                <p>{{result}}</p>
              </div>
              <div class="row flex justify-around q-gutter-md" style="width:60%">
                <q-input class="col" outlined v-model="firstname" label="First Name" placeholder="Jon" required/>
                <q-input 
                        class="col" 
                        outlined 
                        v-model="lastname" 
                        label="Last name"
                        placeholder="Doe" 
                        required/>
              </div>
              <div class="row flex justify-around q-gutter-md q-mt-md" style="width:60%">
                <q-input class="col" outlined v-model="subject" label="Subject" placeholder="Subject" required/>
                <q-input 
                        class="col" 
                        outlined 
                        v-model="email" 
                        label="Your Email"
                        placeholder="example@gmail.com" 
                        required/>
              </div>
              <div class="flex justify-around q-mt-md q-pa-sm" style="width:60%">
                <q-input style="width:100%" type="textarea" outlined v-model="message" label="Your message ..." required/>
              </div>
             
             <div class="flex justify-between q-mt-md q-pa-sm" style="width:60%">
              <q-btn   class="q-mr-md"
                        type="submit" 
                        color="primary" 
                        label="Sent" 
                        child="bg-red-10"
                        size="md" 
                        icon-right="send"/>
              <q-btn
                        type="reset"
                        color="primary" 
                        label="Reset" 
                        child="bg-red-1"
                        size="md"
                        icon-right="help"/>
              </div>
             </div>
          </div>
        </q-form>
        <q-form
            v-if="isAuthentication"
            @submit="sendContact"
            @reset="onReset"
            class="full-width justify-center row q-mb-xl"
         >
          <div class="text-center" style="max-width:80%">
             <div  class="full-width row wrap justify-center"  style="max-width: 100%">
               <div class="column flex justify-center" style="width:60%">
                <h4 class="q-mt-xl subscribe4">Get In  touch.</h4>
                <p>{{result}}</p>
              </div>
              
              <div class="row flex justify-around q-gutter-md q-mt-md" style="width:60%">
                <q-input class="col" outlined v-model="subject" label="Subject" placeholder="Subject" required/>
                <q-input 
                        class="col" 
                        outlined 
                        v-model="order_id" 
                        label="Order ID"
                        placeholder="#99989132138" 
                        required/>
              </div>
              <div class="flex justify-around q-mt-md q-pa-sm" style="width:60%">
                <q-input style="width:100%" type="textarea" outlined v-model="message" label="Your message ..." required/>
              </div>
             
             <div class="flex justify-between q-mt-md q-pa-sm" style="width:60%">
              <q-btn   class="q-mr-md"
                        type="submit" 
                        color="primary" 
                        label="Sent" 
                        child="bg-red-10"
                        size="md" 
                        icon-right="send"/>
              <q-btn
                        type="reset"
                        color="primary" 
                        label="Reset" 
                        child="bg-red-1"
                        size="md"
                        icon-right="help"/>
              </div>
             </div>
          </div>
        </q-form>
  </q-card>
</template>
<script>
import axios from "axios"
export default {
  data() {
    return {
      result: '',
      firstname: null,
      lastname: null,
      subject: null,
      email: null,
      message: null,
      order_id: null,
      isAuthentication: false
    }
  },
  computed: {
    isAuthentication(){
      return this.$store.gettters.loggedIn
    }
  },
  methods: {
    sendContact () {
      const isNotAuthenticationcontent  = {
        firstname: this.firstname,
        lastname: this.lastname,
        subject: this.subject,
        email : this.email,
        message: this.message
      }
      const isAuthenticationcontent  = {
        subject: this.subject,
        unique_order_id : this.order_id,
        message: this.message
      }
      if(this.isAuthentication) {
        axios.post(this.$baseURL+'/api/customer/v1/support/',
        isAuthenticationcontent)
        .then(res=> {
          this.result = res.data.message
          alert(content)
        })
        .catch(err => {
          this.result = err
          alert(content)
        })
      }
      else if(!this.isAuthentication) {
        axios.post(this.$baseURL+'/api/customer/v1/support/',
        isNotAuthenticationcontent)
        .then(res=> {
          this.result = res.data.message
          alert('Success!')
        })
        .catch(err => {
          this.result = err
          alert('Error:(')
        })
      }
      else {alert('OOPS!')}
       
       
      },
      onReset () {
        this.email = null
        this.message = null
        this.firstname = null
        this.lastname = null
        this.order_id = null
        this.subject = null
      }
    },
  }

</script>