<template>
 <div class="column cart-sticky-drawer">
  <div class="head-items row items-center">
   <div class="title q-pl-md">
          <span class="sticky-title">
            {{$t('yourBasket')}}
            <span class="items-number" v-if="userActiveCart != undefined">{{userActiveCart.products.length}} {{$t('items')}}</span>
            <span class="items-number" v-else>0 {{$t('items')}}</span>
          </span>
   </div>
   <q-space></q-space>
   <div class="close-icon" @click="closeRight">
    <q-icon name="close" style="color:#0B1322; font-weight:600" size="18px" />
   </div>
  </div>

  <q-separator></q-separator>
  <div class="cart-sticky" v-if="userActiveCart != undefined">
   <cart-sticky-product
    v-for="(product, index) in userActiveCart.products"
    :product="product"
    :key="index"
   ></cart-sticky-product>
  </div>
  <q-separator></q-separator>
  <div class="cart-sticky-footer bg-white text-secondary shadow-3" v-if="userActiveCart !== undefined">
   <!-- Up line -->
   <div class="column items-end">
    <div class="row items-center">
     <span class="text-body2">{{$t('subtotal')}}&nbsp;</span>
     <span class="text-body2" v-if="userActiveCart != undefined">{{userActiveCart.subtotal | sum}}</span>
     <span class="text-body2" v-else>{{ "0" | sum}}</span>
    </div>
    <div class="row">
     <span class="text-body2">{{$t('delivery')}}&nbsp;</span>
     <span class="text-body2" v-if="userActiveCart != undefined">{{userActiveCart.shipping_fee | sum}}</span>
     <span class="text-body2" v-else>{{ "0" | sum}}</span>
    </div>
    <div class="row">
     <span class="size20 opensans-semibold">{{$t('total')}}:&nbsp;</span>
     <span class="size20 opensans-semibold" v-if="userActiveCart != undefined">{{userActiveCart.total | sum}}</span>
     <span class="size20 opensans-semibold" v-else>{{ "0" | sum}}</span>
    </div>
   </div>
   <!-- Bottom -->
   <div class="row items-center full-width justify-end q-mt-md" >
    <div class="col-4 row justify-end">
     <go-route
      link="/cart"
      property="q-mr-lg size18 opensans-semibold text-black"
     >{{$t('viewBasket')}}</go-route>
    </div>
    <go-btn
     :text="$t('goToCheckout')"
     text-class="size16"
     icon="arrow_right_alt"
     property="primary text-bold text-align-center size-md"
     icon-bg="#e53f2d"
     @click="goToCheckout"
     :loading="loading2"
    >
     <template v-slot:loading>Loading...</template>
    </go-btn>
   </div>
  </div>
 </div>
</template>

<script>
 import { mapGetters, mapActions } from "vuex";
 export default {
  computed: {
   ...mapGetters("checkout", ["userActiveCart"]),
   ...mapGetters("auth", ["loggedIn"])
  },
  methods: {
   ...mapActions("checkout", ["getUserActiveCart"]),
   closeRight: function() {
    return this.$emit("closeRight", false);
   },

   goToCheckout(){
    if(this.userActiveCart.products.length > 0){
     this.$router.push('/payment-checkout')
    }else{
     this.$q.notify({
      type: "negative",
      message: this.$t('yourBasket') +" 0 "+ this.$t('items'),
      position: "top"
     });
    }
   }
  },
  created() {
   (this.loggedIn || localStorage.getItem('user')) ? this.getUserActiveCart() : this.$store.commit('checkout/userActiveCart', undefined)
  },

  components: {
   cartStickyProduct: require("./cart-sticky-products").default
  }
 };
</script>

<style lang="scss" scoped>
.head-items{
  height: 10vh;
 border-bottom: 1px solid lightgray;

}
 .cart-sticky{
  height: 66vh;
  overflow-y: scroll;
 }
.sticky-title {
 font-size: 19px;
}

.items-number {
 color: #bec2c7;
}

.close-icon {
 cursor: pointer;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 20px;
 height: 20px;
 margin: 20px;
 float: right;
}


.cart-sticky-footer{
  height: 24vh;
  padding: 20px;


 }


</style>
