<template>
 <div>
  <div class="sticky-cart-container" >
   <div class="head-items">
    <div class="close-icon" @click="closeRight">
     <q-icon name="close" style="color:#0B1322; font-weight:600" size="18px" />
    </div>
    <div class="title">
          <span class="sticky-title">
            {{$t('yourBasket')}}
            <span class="items-number" v-if="userActiveCart != undefined">{{userActiveCart.products.length}} {{$t('items')}}</span>
            <span class="items-number" v-else>0 {{$t('items')}}</span>
          </span>
    </div>
   </div>
   <div >
    <div>
     <q-separator class="list-separator" />
    </div>
    <!-- ❗❕❗ ❔❓❔ QSCROLL AREA QO'SHILDI. YODDA TUTING QUYIDAGI style="height: auto;" da productlar
    Ko'rinmasa 100% ga almashtiring agar kopayib ketsa shunga qarab foiz berib chiqish kerak.
    PX(pikselda bermang! iloji boricha). Va agar %da ham ishlamasa endi bir PXga urinib ko'ring
    va ohiri ham ishlamasa va productlar ko'rinmasa ana endi Otabekdan so'rang.Oldin tepadagilarni
    sinab ko'rmasdan directly so'ravormang 😅 (XAZIL).-->


    <!--
      Q-SCROLL-AREA
      TEST SIFATIDA ISHLAYOTGAN YOKI YO'QLIGINI BILISH UCHUN SAMPLE
      👇🔻👇 SHUNCHAKI PASTDAGI KODNI KOMMENTDAN OCHING.
      KEYIN YOPIB QO'YISH YOKI O'CHIRVORISH ESDAN CHIQMASIN.
    -->
    <!-- <q-scroll-area style="height: 200px; max-width: 95%;">
    <div v-for="n in 100" :key="n" class="q-py-xs">
    
    </div>
    </q-scroll-area> -->

    <div class="cart-sticky" v-if="userActiveCart != undefined">
     <cart-sticky-product
      v-for="(product,index) in userActiveCart.products"
      :product="product"
      :key="index"
     ></cart-sticky-product>
    </div>
   </div>
  </div>
  <div class="bg-white q-pa-md text-secondary absolute-bottom">
   <!-- Up line -->
   <div class="column items-end">
    <div class="row items-center">
     <span class="text-body2">{{$t('subtotal')}}&nbsp;</span>
     <span class="text-body2" v-if="userActiveCart != undefined">{{userActiveCart.subtotal | sum}}</span>
     <span class="text-body2" v-else>{{ "0" | sum}}</span>
    </div>
    <div class="row">
     <span class="text-body2">{{$t('delivery')}}&nbsp;</span>
     <span class="text-body2" v-if="userActiveCart != undefined">{{userActiveCart.shipping_fee | sum}}</span>
     <span class="text-body2" v-else>{{ "0" | sum}}</span>
    </div>
    <div class="row">
     <span class="size20 opensans-semibold">{{$t('total')}}:&nbsp;</span>
     <span class="size20 opensans-semibold" v-if="userActiveCart != undefined">{{userActiveCart.total | sum}}</span>
     <span class="size20 opensans-semibold" v-else>{{ "0" | sum}}</span>
    </div>
   </div>
   <!-- Bottom -->
   <div class="row items-center full-width justify-end q-mt-md">
    <div class="col-4 row justify-end">
     <go-route
      link="/cart"
      property="q-mr-lg size18 opensans-semibold text-black"
     >{{$t('viewBasket')}}</go-route>
    </div>
    <go-btn
     :text="$t('goToCheckout')"
     text-class="size16"
     icon="arrow_right_alt"
     property="primary text-bold text-align-center size-md"
     icon-bg="#e53f2d"
     @click="goToCheckout"
     :loading="loading2"
    >
     <template v-slot:loading>Loading...</template>
    </go-btn>
   </div>
  </div>
 </div>
</template>

<script>
 import { mapGetters, mapActions } from "vuex";
 export default {
  computed: {
   ...mapGetters("checkout", ["userActiveCart"]),
   ...mapGetters("auth", ["loggedIn"])
  },
  methods: {
   ...mapActions("checkout", ["getUserActiveCart"]),
   closeRight: function() {
    return this.$emit("closeRight", false);
   },

   goToCheckout(){
    if(this.userActiveCart.products.length > 0){
     this.$router.push('/payment-checkout')
    }else{
     this.$q.notify({
      type: "negative",
      message: this.$t('yourBasket') +" 0 "+ this.$t('items'),
      position: "top"
     });
    }
   }
  },
  created() {
   (this.loggedIn || localStorage.getItem('user')) ? this.getUserActiveCart() : this.$store.commit('checkout/userActiveCart', undefined)
  },

  components: {
   cartStickyProduct: require("./cart-sticky-products").default
  }
 };
</script>

<style lang="scss" scoped>
 .cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 450px;
  margin: 0px auto;
 }

 .product-list {
  padding: 20px;
 }
 cart-sticky-footer {
  border: 1px solid black;
  padding: 10px;
  color: #0b1322;
 }

 .product {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100px;
  width: 450px;
 }

 .image-container {
  height: 100px;
 }

 .image-box {
  height: 100px;
  width: 100px;
  border: 1px solid #cccccc;
 }

 .product-image {
  margin-top: auto;
  margin-bottom: auto;
  height: 75px;
 }

 .details-container {
  height: 100px;
  margin-top: auto;
  margin-bottom: auto;
 }

 .details-box {
  display: grid;
  grid-template-columns: 70% 30%;
  padding-left: 0px;
 }

 .in-stock {
  display: none;
 }
 .product-title-container {
  height: 65px;
 }

 .remove-item {
  display: flex;
  align-items: center;
 }

 .arrow-down,
 .arrow-up {
  color: #3b3f4c;
  cursor: pointer;
 }

 .arrow-up:hover,
 .arrow-down:hover {
  color: #0b1322;
 }

 .remove-item,
 .wishlist {
  cursor: pointer;
 }

 .remove-item:hover,
 .wishlist:hover {
  color: #3b3f4c;
 }

 .your-basket {
  font-size: 18px;
  font-weight: 100;
 }

 .list-separator {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 450px;
 }

 .list-separator-top {
  margin-top: 15px;
  margin-bottom: 30px;
 }

 .quantity__input {
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
 }
 .quantity__input:focus {
  outline: none;
 }

 .quantity-text {
  font-size: 12px;
 }

 .remove-item {
  font-size: 12px;
 }

 .quantity-input {
  display: flex;
  align-items: center;
 }

 .product-title {
  font-size: 14px;
  height: 70px;
 }

 .wishlist {
  display: none;
 }

 .product-price {
  font-size: 16px;
  float: right;
 }

 @media screen and (max-width: 600px) {
  .details-container {
   padding-top: 0px;
  }

  .details-box {
   padding-left: 5px;
  }
 }
 .sticky-cart-container {
  display: grid;
  grid-template-columns: 100%;
  padding-left: 25px;

 }

 .title {
  margin-top: 40px;
 }
 .sticky-title {
  font-size: 19px;
 }

 .sticky-cart-container .items-number {
  color: #bec2c7;
 }

 .close-icon {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 30px;
  float: right;
 }

 .q-body--force-scrollbar {
  overscroll-behavior-y: hidden;
 }


</style>
