<template>
    <div class="column">
        <div class="text-h5 text-bold q-mb-md">Your personal details</div>
        <div class="row q-mt-md justify-between">
            <q-input
                    class="width49percent"
                    type="text"
                    square
                    outlined
                    v-model="profile.first_name"
                    :label="$t('first_name')"
                    placeholder="John"
            />
            <q-input
                    class="width49percent"
                    type="text"
                    square
                    outlined
                    v-model="profile.last_name"
                    :label="$t('last_name')"
                    placeholder="Doe"
            />
        </div>
        <div class="row q-mt-md justify-between">
            <q-input
                    class="width49percent"
                    type="text"
                    square
                    outlined
                    v-model="profile.city"
                    :label="$t('city')"
                    placeholder="New york"
            />
            <q-input
                    class="width49percent"
                    type="text"
                    square
                    outlined
                    v-model="profile.state"
                    :label="$t('state_provinence')"
                    placeholder="Great Britain"
            />
        </div>
        <div class="row q-mt-md justify-between">
            <q-input
                    class="width32percent"
                    type="text"
                    square
                    outlined
                    v-model="profile.zip_code"
                    mask="######"
                    :label="$t('zip_code')"
            />
            <q-input
                    class="width32percent"
                    type="tel"
                    square
                    outlined
                    v-model="profile.phone"
                    prefix="+998"
                    :label="$t('phone_number')"
                    mask="## #######"
                    placeholder="*** ** **"
            />
            <q-input
                    class="width32percent"
                    type="text"
                    mask="AA #######"
                    square
                    outlined
                    v-model="profile.passport"
                    :label="$t('passport')"
                    placeholder="AA ******"
            />
        </div>
    </div>
</template>

<script>
    import {mapActions, mapGetters} from "vuex";

    export default {
        name: "stepOne",
        data() {
            return {
                profile_id: "",
            };
        },
        methods: {
            ...mapActions("profile", ["getProfileData", "updateProfile"]),
            async profileUpdate() {
                await this.updateProfile(this.profile);
                if (this.updatedStatus === 200) {
                    this.getProfileData();
                }
            },
            nextStep() {
                this.$refs.first_name.validate();
                this.$refs.last_name.validate();
                if (!this.$refs.first_name.hasError && !this.$refs.last_name.hasError) {
                    this.profileUpdate();
                    this.getListAddress();
                }
            }
        },
        computed: {
            ...mapGetters("profile", ['profile', 'updatedStatus']),
        },
        mounted() {
            this.getProfileData();
        },
    };
</script>

<style scoped>
    @media screen and (min-width: 850px) {
        .width49percent {
            width: 49%;
        }

        .width32percent {
            width: 32%;
        }
    }

    @media only screen and (max-width: 850px) {
        .width49percent {
            width: 100%;
            margin-bottom: 15px;
        }

        .width32percent {
            width: 100%;
            margin-bottom: 15px;
        }
    }
</style>