<template>
  <div>
    <q-list class="bordered-item" style="width: 100%;">
      <q-item class="list-border q-pa-md" tag="label" v-ripple.early>
        <q-item-section side top>
          <q-radio v-model="shape" :val="false" />
        </q-item-section>
        <q-item-section>
          <div class="fill row wrap flex justify-between">
            <div class="fiil flex column text-left">
              <q-item-label class="text-subtitle4">Admin</q-item-label>
              <q-item-label class="text-bold text-subtitle2">
                <!--{{orderDetail.standart_deliver_fee | sum}}-->
                Card number: 860049******6478
              </q-item-label>
            </div>
            <div class="fiil flex column items-center text-left">
              <q-item-label class="text-subtitle4">Expires: 3/99</q-item-label>
            </div>
            <div class="fiil flex column text-right">
              <q-item-label class="text-subtitle1">
                <!--{{$t('estimated_date')}}-->
                Estimated date
              </q-item-label>
              <q-item-label class="text-bold text-subtitle2">
                <!--{{moment(orderDetail.delivered_date).format('LLLL')}}-->
                Date
              </q-item-label>
            </div>
          </div>
        </q-item-section>
      </q-item>
    </q-list>

    <div class="or">
      <span>OR</span>
    </div>

    <q-list separator @click="addNewPayMethodDialog = !addNewPayMethodDialog">
      <q-item
        v-ripple.early
        class="cursor-pointer bordered-item q-pa-md relative-position full-width"
      >
        <q-card-section class="row justify-center items-center text-center full-width">
          <img src="~/assets/accounts-icons/discountIcon.svg" alt class="q-pr-sm" />
          <q-item-label class="text-center">Add new payment method</q-item-label>
        </q-card-section>
      </q-item>
    </q-list>

    <q-dialog v-model="addNewPayMethodDialog">
      <div class="bg-white q-pa-xl">
        <q-img
          style="width:120px;"
          src="statics/payme.svg"
          alt="Payme"
          class="q-mb-sm"
          no-default-spinner
          basic
        />
        <div class="text-h5">Add a new payment method</div>
        <waitForSMS @SuccessVerify="addNewPayMethodDialog === false"></waitForSMS>
      </div>
    </q-dialog>
  </div>
</template>

<script>
import waitForSMS from "src/app/shared/components/custom-components/forms/payment-form.vue";
export default {
  name: "stepFive",
  data() {
    return {
      shape: false,
      text: "",
      addNewPayMethodDialog: false,
      antimin: 2
    };
  },
  components: {
    waitForSMS
  }
};
</script>

<style scoped>
.bordered-item {
  border: 1px solid black;
  margin: 5px 0px;
}
.or {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or span {
  height: 50px;
  width: 50px;
  background: white;
  padding: 5px;
  border-radius: 50rem;
  color: black;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or:before {
  content: "";
  width: 50%;
  background: black;
  height: 1px;
  left: 0;
  position: absolute;
  z-index: 0;
}
.or:after {
  content: "";
  width: 50%;
  background: black;
  height: 1px;
  right: 0;
  position: absolute;
  z-index: 0;
}
</style>