<template>
    <div class="address-box--container">
        <div class="address-box--info">
            <div class="text-subtitle1">{{address.first_name}} {{address.last_name}}</div>
            <b>{{address.address_line_1}}, {{$t(address.city)}}, {{$t(address.country)}}, {{address.postal_code}}, {{address.phone}}</b>
        </div>

        <div class="address-box--actions">
            <go-flat-btn
                left="star"
                left-class="text-black text-bold"
                class="text-black address-box--default-address-btn"
                style="min-width: 50%;"
                v-if="address.is_default"
                :label="$t('defaultAddress')"
                @click="$router.push('/cart')"
            ></go-flat-btn>
            <go-btn
                v-if="!address.is_default"
                block
                class="adress-box--actions__default"
                @click="submitDefault(address.id)"
                :text="$t('setDefaultAddress')"
                type="submit"
            >{{$t('setDefaultAddress')}}</go-btn>
            <go-btn @click="editAddressDialog=!editAddressDialog" block color="secondary" type="submit" right-bg="go-secondary-o">
                {{$t('editAddress')}}</go-btn>
        </div>
            <q-dialog v-model="editAddressDialog">
      <q-card>
        <q-card-section class="row items-center">
          <div class="text-h6">{{$t('editAddress')}}</div>
        </q-card-section>
        <edit-address :addressId="address.id" v-on:updatedAddress="editAddressDialog=!editAddressDialog,  getListAddresses()"></edit-address>
      </q-card>
    </q-dialog>
    </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
    props: ["address"],
    data() {
        return {
            editAddressDialog: false,
            windowWidth: window.innerWidth
        };
    },
    computed: {
        ...mapGetters("address", [
            "setDefaultStatus",
            "errorCode",
            "errorMessage"
        ])
    },
    components: {
        "edit-address": require("src/app/accounts/components/edit-address")
            .default
    },
    methods: {
        ...mapActions("address", ["setDefault", "getListAddresses"]),

        async submitDefault(id) {
            await this.setDefault(id);
            if (this.setDefaultStatus == 200) {
                this.$emit("getAddress");
            } else {
                this.$q.notify({
                    group: false,
                    type: "negative",
                    message: "Submit has error statusCode: " + this.errorCode
                });
            }
        }
    },
    mounted() {
        window.addEventListener("resize", () => {
            this.windowWidth = window.innerWidth;
        });
    }
};
</script>

<style scoped>
.address-box--container {
    border: 2px solid lightgrey;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px;
}
.address-box--info {
    min-width: 400px;
    width:100%;
    max-width: 400px;
}
.address-box--actions {
    display: flex;
    min-width: 500px;
    width:100%;
    max-width: 500px;
    flex-direction: row;
    align-items: center;
}
@media screen and (min-width:1170px){
.adress-box--actions__default {
    margin-right: 15px;
}
}
@media (max-width: 500px) and (min-width: 0) {
    .address-box--info {
        min-width: 100%;
    }
}
@media (max-width: 682px) and (min-width: 0px) {
    .address-box--info {
        margin-bottom: 30px;
    }
}
@media (max-width: 1170px) and (min-width: 0) {
    .address-box--info {
        width: 60%;
        min-width: 60%;
        max-width: 60%;
    }
    .address-box--actions {
        display: flex;
        flex-direction: column;
        justify-content: space-between ;
        justify-content: flex-start;
        max-width: 330px;
        min-width: 330px;
    }
    .adress-box--actions__default {
        margin-bottom: 15px;
    }
}
@media (max-width: 1015px) and (min-width:0) {
    .address-box--info {
        min-width: 100%;
    }
    .address-box--actions {
        margin-top: 25px;
    }
}
@media (max-width: 1015px) and (min-width:705px){
    .address-box--container {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width:705px) and (min-width:0px) {
    .address-box--actions {
        min-width: 100%;
    }
}
@media (max-width: 1070px) and (min-width:0px) {
    .address-box--default-address-btn {
        margin-bottom: 10px;
    }
}
</style>