<template>
 <div>
   
  <q-card class="q-mt-xl my-card bg-grey-2">
   <div
    :class="
     windowWidth < 900
      ? 'column flex-start justify-start items-start text-left'
      : 'row q-pa-md'
    "
    :horizontal="windowWidth >= 900"
   >
    <div class="q-gutter-y-md">
     <div class="column">
      <div class="text-subtitle1">{{ $t("estimated_date") }}:</div>
      <div class="text-subtitle1 text-bold">
       {{ moment(delivered).format("LLLL") }}
      </div>
     </div>
     <div class="column">
      <div class="text-subtitle1">{{ $t("shipping_method") }}:</div>
      <div class="text-subtitle1 text-bold" v-if="isfragile == false">
       {{ $t("standard_delivery") }}
      </div>
      <div class="text-subtitle1 text-bold" v-else>
       {{ $t("fragile_delivery") }}
      </div>
     </div>
    </div>
    <div :class="windowWidth < 900 ? 'q-gutter-y-md q-mt-sm' : 'q-ml-xl'">
     <div class="column">
      <div class="text-subtitle1">{{ $t("order_sent") }}:</div>
      <div class="text-subtitle1 text-bold">
       {{ addressone }}, {{ addresstwo }}, {{ city }}, {{ postalcode }},
       {{ $t(country) }}
      </div>
     </div>
     <div :class="windowWidth < 900 ? 'row justify-start' : 'column q-mt-md'">
      <go-btn
       class="go-btn q-mb-sm"
       block
       :style="windowWidth >= 555 ? 'width:250px' : 'width:90%'"
       :text="$t('view_my_order')"
       color="secondary"
       right-bg="go-secondary-o"
       @click="$router.push('/your-orders')"
      ></go-btn>
      <!-- <go-btn
        :text="$t('view_my_order')"
        @click="$router.push('/your-orders')"
        property="opensans-semibold secondary text-bold text-align-center size-md"
        text-style="font-size:16px"
        icon-bg="#232b38"
       ></go-btn> -->
     </div>
    </div>
   </div>
  </q-card>
  <q-card>
   <q-card-section class="q-pl-none">

    <div class="q-mt-md open-sans text-h5 text-primary">
     {{ $t("order_reference") }} <span class="text-bold">#{{ order }}</span>
    </div>

   </q-card-section>
  </q-card>
  <q-card class="order-box--header">
    <q-card-section class="row q-gutter-x-xl">
       <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("order_placed") }}</div>
        <div class="text-subtitle1 text-bold">{{moment(created).format("LL")}}</div>
    </div>
    <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("total") }}</div>
        <div class="text-subtitle1 text-bold">{{ total | sum }}</div>
    </div>
    <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("delivered_to") }}</div>
        <div class="text-subtitle1 text-bold" style="text-decoration:underline;">{{ firstname }}
      {{ lastname }}</div>
    </div>
    <div class="order-box--header__info">
        <div class="text-subtitle1">{{ $t("order_reference") }}</div>
        <div class="text-subtitle1 text-bold">#{{ order }}</div>
    </div>
    <div class="order-box--header__info" v-if="status=='delivered'">
        <div class="text-subtitle1">{{ $t("order_delivered") }}</div>
        <div class="text-subtitle1 text-bold">{{ delivered }}</div>
    </div>
    </q-card-section>
  </q-card>
  <div class="row justify-between">
   <div class="full-width" :class="windowWidth > 1290 ? 'col-8' : 'fit full-width'">
    <div class="column">
     <div :class="windowWidth >= 955 ? 'q-mb-xl ' : 'q-mb-sm'">

  <div class="order-box--delivery-date q-py-lg text-white " v-if="status != 'delivered'">
        <div class="text-h6" >
        {{ $t("estimated_date") }} <b>{{moment(delivered).format("LL")}}</b>
        </div>
 
  </div>
     </div>
    </div>
   </div>
  </div>
  <div class="order-container row ">
   <div
    class="row justify-between q-py-xl borders "
    :class="windowWidth > 700 ? 'col-8' : 'col-12'"
   >
    <div
     class="borderStyle q-mr-md row justify-center items-center"
     
     :style="
      windowWidth >= 955
       ? 'height: 200px; width:200px;'
       : 'height: 135px; width: 135px;'
     "
    >
     <q-img
      contain
      class="bg-white "
      style="max-width:100%;max-height:100%;"
      :src="image"
     />
    </div>
    <div class="row col  priceLine">
     <div class="column col-12 justify-center">
      <div class="text-grey q-mb-sm">
       By
       <span class="text-bold" v-if="brand">{{ brand }}</span>
       <span class="text-bold" v-else>Unbranded</span>
      </div>
      <div class="row justify-between">
       <div :class="windowWidth > 600 ? 'col-8' : 'col-12'">
        <div class="text-subtitle1 text-bold ellipsis-4-lines">
         {{ title | truncate(80, "...") }}
        </div>
       </div>
       <div :class="windowWidth > 600 ? 'col-3' : 'col-12 q-mt-sm q-ml-none'">
        <div class="text-subtitle1 text-bold text-primary">
         {{ price | sum }}
        </div>
       </div>
      </div>
      <div class="row full-width q-mt-md" v-if="attributes">
       <div
        class="text-subtitle1"
        v-for="(att, index) in attributes"
        :key="index"
       >
        <span v-if="index == attributes.length - 1"
         >{{ att.attribute.name }}: {{ att.value }}</span
        >
        <span v-else>{{ att.attribute.name }}: {{ att.value }}, &nbsp; </span>
       </div>
      </div>
      <div class="text-subtitle1 q-mt-xs">
       {{ $t("quantity") }}: {{ quantity }}
      </div>
     </div>
     <br />
    </div>
   </div>

   <div :class="windowWidth > 700 ? 'col-3 q-ml-xl' : 'col-12'">
    <q-card square bordered>
     <q-card-section>
      <div class="q-pl-lg text-left text-subtitle1 text-bold">
       {{ $t("summary") }}:
      </div>
     </q-card-section>
     <q-card-section class="column q-px-none q-pt-none">
      <div class="row justify-around">
       <div>{{ $t("subtotal") }}:</div>
       <div class="text-bold text-uppercase">{{ subtotal | sum }}</div>
      </div>
      <div class="row justify-around">
       <div>{{ $t("delivery") }}:</div>
       <div class="text-bold text-uppercase">{{ shipping | sum }}</div>
      </div>
     </q-card-section>
     <q-separator />
     <q-card-section class="column q-px-none">
      <div class="row justify-around">
       <div class="text-uppercase">{{ $t("total") }}:</div>
       <div class="text-bold text-uppercase">{{ total | sum }}</div>
      </div>
     </q-card-section>
    </q-card>
   </div>
  </div>
 </div>
</template>
<script>
import moment from "moment";

export default {
 data() {
  return {
   windowWidth: window.innerWidth,
   moment: moment
  };
 },
 props: [
  "brand",
  "image",
  "price",
  "title",
  "asin",
  "attributes",
  "quantity",
  "subtotal",
  "shipping",
  "total",
  "order",
  "created",
  "delivered",
  "isfragile",
  "addressone",
  "addresstwo",
  "postalcode",
  "country",
  'city',
  'status',
  'firstname',
  'lastname'
 ],
 methods: {
  async buyNow(asin) {
   this.$q.loading.show();
   this.$router.push({ name: "details", query: { itm: asin } });
   this.$q.loading.hide();
  }
 },
 mounted() {
  window.addEventListener("resize", () => {
   this.windowWidth = window.innerWidth;
  });
 }
};
</script>

<style scoped>
* {
  font-family: "Open Sans", sans-serif;
 }
 .confirm-icon {
  max-width: 7%;
  height: 7%;
 }
 .confirm-word {
  font-size: 2.5vw;
 }
 .borders {
  border-top: 1px solid lightgrey;
 }
 .borders:nth-child(1.2) {
  border-bottom: 1px solid lightgrey;
 }
 .borders:nth-last-child(1) {
  border-bottom: 1px solid lightgrey;
 }

 @media (max-width: 600px) and (min-width: 0) {
  .confirm-icon {
   max-width: 15%;
   height: 15%;
  }
  .confirm-word {
   font-size: 180%;
  }
 }

 .borderStyle{
  border:1px solid lightgrey;
 }
 .flex-start{
   justify-content: flex-start; 
 }
 .priceLine{
  display:flex;
  align-items:baseline;
  justify-content: space-between;
 }
 .go-btn{
     width:60%;
 }
 @media (max-width: 680px) and (min-width: 0) {
 }
 .order-box--delivery-date {
    background: #06702f;

}
@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
.order-box--header {
    @include flex-row;
    background: #f9f9fb;
}
.order-box--container {
    @include flex-column;
    border: 2px solid #dcdce6;
}
.order-box--product-container {
    @include flex-row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-around;
}
.order-box--delivery-date {
    background: #06702f;
}
.order-box--image-container {
    @include flex-row;
    justify-content: center;
    align-items: center;
    min-width: 230px;
    width: 230px;
    max-width: 230px;
    min-height: 200px;
    height: 200px;
    max-height: 200px;
    border: 1px solid lightgrey;
}
.order-box--image-container img {
    width: 100%;
    height: auto;
    max-height: 100%;
}
.order-box--info {
    max-width: 40%;
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    height: 100%;
}
.order-box--buttons-container {
    @include flex-column;
    min-width: 25%;
}
@media screen and (min-width:1236px) {
    .order-box--product-container {
        height: 315px;
    }
}
@media (max-width: 1236px) and (min-width: 780px) {
.order-box--info {
    max-width: 65%;
}
.order-box--buttons-container {
    margin-top: 20px;
}
}
@media (max-width: 875px) and (min-width: 0) {
    .order-box--info {
        max-width: 100%;
        margin: 30px 0;
    }
    .order-box--buttons-container {
    min-width: 100%;
}
}
.order-box--container {
    border: 0px solid;
}
.order-box--image-container {
    margin-top: 30px;
}
</style>
