<template>
  <div class="basic-container">
    <div class="orders-container"  v-if="orderList.results.length>0">
      <div class="row path-title">
          <router-link class="remove-link" to="/your-account">
              <span @click="$router.push('/your-account')" style="cursor: pointer">
                  {{$t('yourAccount')}}
              </span>
          </router-link>
          <router-link class="remove-link" to="/your-orders">
              <q-icon name="keyboard_arrow_right"></q-icon>
              <b style="cursor: pointer"> {{$t('yourOrders')}}</b>
          </router-link>

      </div>
     
    <div>
     
     
       <q-card>
        <q-tabs
          v-model="tab"
          dense
          class="text-black"
          active-color="primary"
          indicator-color="primary"
          align="justify-between"
          narrow-indicator
        >
            <router-link class="remove-link" to="/your-orders">
                <q-tab name="mails" :label="$t('all_orders')" />
            </router-link>
            <router-link class="remove-link" to="/your-orders">
                <q-tab name="alarms" :label="$t('open_orders')" />
            </router-link>
            <router-link class="remove-link" to="/your-orders">
                <q-tab name="movies" :label="$t('cancelled_orders')" />
            </router-link>
        </q-tabs>

        <q-separator />

        <q-tab-panels v-model="tab" animated>
          <q-tab-panel name="mails">
            <orders-box :order="orderList.results"></orders-box>
          </q-tab-panel>

          <q-tab-panel name="alarms">
           <h5 class="flex justify-center" v-if="openOrderList.results.length==0">
             {{$t('no_order')}}
            </h5>

           <orders-box v-else :order="openOrderList.results"></orders-box>
             
          </q-tab-panel>

          <q-tab-panel name="movies">

            <h5 class="flex justify-center" v-if="cancelOrderList.results.length==0">
             {{$t('no_cancelled_order')}}
            </h5>
            <orders-box v-else :order="cancelOrderList.results"></orders-box>
          </q-tab-panel>
        </q-tab-panels>
      </q-card>
     
      
      
      
     
      <!-- <div class="pagination">
        <q-pagination
          class="justify-center align-items"
          v-model="current"
          :direction-links="true"
          :max="10"
          :max-pages="6"
          :boundary-numbers="true"
          color="secondary"
        ></q-pagination>
      </div> -->
     </div>
    

      
    </div>
     <div v-else>
     <h2 class="flex justify-center">{{$t("no_order")}}</h2>
     </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data() {
    return {
      tab: 'mails',
      current: 1
    };
  },
  components: {
    "orders-box": require("./components/orders-box").default
  },
  computed: {
    ...mapGetters("profile", ["orderList","openOrderList","cancelOrderList"])
  },
  methods:{
     ...mapActions("profile", ["getUserOrderList","getUserOpenOrderList","getUserCancelOrderList"]),
  },
  mounted(){
    this.getUserOrderList();
    this.getUserOpenOrderList();
    this.getUserCancelOrderList();
  }
};
</script>

<style lang="scss" scoped>
.basic-container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 150px;
}

.orders-container {
  width: 90%;
}

.path-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
}

// category-bar
.top-nav-bar {
  width: 100%;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  margin-bottom: 25px;
  height: 37px;
}

.top-nav-bar span a:link,
.top-nav-bar span a:visited {
  text-decoration: none;
  color: #0b1322;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
  padding-bottom: 10px;
}

.top-nav-bar span a:hover,
.top-nav-bar span a:active {
  border-bottom: 4px solid #ff4733;
}
</style>