<template>
  <div class="basic-container" style="min-height:500px">
    <div class="accounts-container">
      <div class="row path-title">
        <span>
          <b>Your Account</b>
        </span>
      </div>

      <div class="row justify-between" v-if="windowWidth > 750">
        <div class="card" @click="$router.push('/your-orders')">
          <div class="row box-title">
            <span :style="windowWidth > 900 ? 'font-size:17px;' :  'font-size:15px;'">Your Orders</span>
            <span style="font-size:13px;">Track, Return, Review, Buy it again or contact the seller</span>
          </div>
          <div class="row">
            <img
              class="box-icon-gobox"
              style="width: 30%;"
              src="../../assets/accounts-icons/go-box.svg"
              alt
            />
          </div>
        </div>
        <div class="card" @click="$router.push('/your-address-book')">
          <div class="row box-title">
            <span :style="windowWidth > 900 ? 'font-size:17px;' :  'font-size:15px;'">Address book</span>
            <span style="font-size:13px; ">Cras pulvinar, lacus non blandit molestie sapien.</span>
          </div>
          <div class="row">
            <img class="box-icon" src="../../assets/accounts-icons/go-avatar.svg" alt />
          </div>
        </div>
        <div class="card" @click="$router.push('/payment-methods')">
          <div class="row box-title">
            <span
              :style="windowWidth > 900 ? 'font-size:17px;' :  'font-size:15px;'"
            >Payment methods</span>
            <span style="font-size:13px;">Cras pulvinar, lacus non blandit molestie sapien.</span>
          </div>
          <div class="row">
            <img class="box-icon-credit" src="../../assets/accounts-icons/go-credit-card.svg" alt />
          </div>
        </div>
        <div class="card" @click="$router.push('/login-security')">
          <div class="row box-title">
            <span
              :style="windowWidth > 900 ? 'font-size:17px;' :  'font-size:15px;'"
            >Login and security</span>
            <span style="font-size:13px;">Cras pulvinar, lacus non blandit molestie sapien.</span>
          </div>
          <div class="row">
            <img class="box-icon" src="../../assets/accounts-icons/go-security.svg" alt />
          </div>
        </div>
      </div>

      <div class="row" :class="windowWidth < 750 ? 'show-mob-cards' : 'hide-mob-cards'">
        <div class="card-mob" @click="$router.push('/your-orders')">
          <div class="row justify-center">
            <img class="box-icon-mob-box" src="../../assets/accounts-icons/go-box.svg" alt />
          </div>
          <div class="column box-title">
            <span style="font-size:17px;">Your Orders</span>
            <span style="font-size:13px;">Track, Return, review, buy it again or contact the seller</span>
          </div>
        </div>
        <div class="card-mob" @click="$router.push('/your-address-book')">
          <div class="row justify-center">
            <img class="box-icon-mob" src="../../assets/accounts-icons/go-avatar.svg" alt />
          </div>
          <div class="column box-title">
            <span style="font-size:17px;">Address book</span>
            <span style="font-size:13px;">Cras pulvinar, lacus non blandit molestie sapien.</span>
          </div>
        </div>
        <div class="card-mob" @click="$router.push('/payment-methods')">
          <div class="row justify-center">
            <img
              class="box-icon-mob-credit"
              src="../../assets/accounts-icons/go-credit-card.svg"
              alt
            />
          </div>
          <div class="column box-title">
            <span style="font-size:17px;">Payment methods</span>
            <span style="font-size:13px;">Cras pulvinar, lacus non blandit molestie sapien.</span>
          </div>
        </div>
        <div class="card-mob" @click="$router.push('/login-security')">
          <div class="row justify-center">
            <img class="box-icon-mob" src="../../assets/accounts-icons/go-security.svg" alt />
          </div>
          <div class="column box-title">
            <span style="font-size:17px;">Login and security</span>
            <span style="font-size:13px;">TCras pulvinar, lacus non blandit molestie sapien.</span>
          </div>
        </div>
      </div>
      <span class="top-title" style="font-size:20px">Your Recent Orders</span>
      <orders-box :estimatedOrders="estimatedOrders"></orders-box>
      <orders-box :estimatedOrders="!estimatedOrders"></orders-box>

      <div class="button-container">
        <div class="view-orders-button">
          <go-btn
          @click="$router.push('/your-orders')"
            :block="true"
            text="View All your orders"
            icon="arrow_right_alt"
            property="q-mt-md primary text-bold text-align-center size-md"
            icon-bg="#e53f2d"
          ></go-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      estimatedOrders: true,
      windowWidth: window.innerWidth
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  },
  components: {
    "orders-box": require("./components/orders-box").default
  }
};
</script>

<style lang="scss" scoped>
@media screen and (min-width: 750px) {
  .basic-container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 150px;
}
}
@media (max-width: 750px) and (min-width: 0px) {
  .basic-container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-bottom: 50px;
}
}
.accounts-container {
  width: 90%;
}

.cards-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

.path-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
}

.card {
  display: grid;
  grid-template-columns: 100%;
  width: 23%;
  height: 200px;
  border-radius: 6px;
  border: 1px solid #0b1322;
  padding: 10px;
  color: #0b1322;
  cursor: pointer;
  margin-bottom: 9px;
}

.card-mob {
  margin-bottom: 10px;
  display: grid;
  align-items: center;
  grid-template-columns: 20% 80%;
  width: 100%;
  height: 100px;
  border-radius: 6px;
  border: 1px solid #0b1322;
  color: #0b1322;
  cursor: pointer;
}
.card:hover {
  opacity: 0.8;
}
.card-mob:hover {
  opacity: 0.8;
}

.box-icon {
  width: 25%;
  margin-left: 6%;
}

.box-icon-gobox {
  margin-left: 6%;
}

.box-icon-credit {
  width: 35%;
  margin-left: 6%;
}

.box-icon-mob {
  width: 50%;
}

.box-icon-mob-box {
  width: 55%;
}
.box-icon-mob-credit {
  width: 55%;
}

.recent-orders-container {
  width: 100%;
  margin-top: 20px;
  padding: 0px;
  margin-bottom: 20px;
}

.recent-top {
  background: #f9f9fb;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 36px;
  border: 1px solid #cccccc;
  border-bottom: none;
}

.item-top {
  margin-right: 80px;
}

.recent-second {
  background: #007235;
  width: 100%;
}

.item-second {
  padding: 25px 36px;
  color: #ffffff;
  font-size: 17px;
}

.products-container {
  display: grid;
  grid-template-columns: 70% 30%;
  margin-bottom: 50px;
}

.product-cards {
  border: 1px solid #cccccc;
  border-top: none;
  border-right: none;
  width: 100%;
  padding: 36px;
}

.buttons-box {
  padding: 36px;
  border: 1px solid #cccccc;
  border-top: none;
  border-left: none;
}

// cards style
.cart-container {
  display: grid;
  grid-template-columns: 75% 25%;
  width: 100%;
  margin: 0px auto;
}

.product-list {
  padding: 20px;
}

.product {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 180px;
}

.image-container {
  height: 180px;
}

.image-box {
  height: 180px;
  width: 180px;
  border: 1px solid #cccccc;
}

.product-image {
  margin-top: auto;
  margin-bottom: auto;
}

.details-container {
  height: 200px;
  margin-top: auto;
  margin-bottom: auto;
}

.product-title-container {
  height: 95px;
}

.details-box {
  padding-left: 20px;
}

.bottom-line {
  display: flex;
  align-items: center;
  height: 30px;
  justify-content: space-between;
}

.remove-item {
  display: flex;
  align-items: center;
}

.arrow-down,
.arrow-up {
  color: #3b3f4c;
  cursor: pointer;
}

.arrow-up:hover,
.arrow-down:hover {
  color: #0b1322;
}

.remove-item,
.wishlist {
  cursor: pointer;
}

.remove-item:hover,
.wishlist:hover {
  color: #3b3f4c;
}

.your-basket {
  font-size: 18px;
  font-weight: 100;
}

.list-separator {
  margin-top: 30px;
  margin-bottom: 30px;
}

.list-separator-top {
  margin-top: 15px;
  margin-bottom: 30px;
}

.quantity__input {
  width: 25px;
  height: 19px;
  margin: 0;
  padding: 0;
  text-align: center;
  border: none;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.product-title {
  height: 70px;
}

.product-price {
  font-size: 16px;
  float: right;
}

.quantity__input:focus {
  outline: none;
}

// buttons style
.buttons-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: center;
}

.view-orders-button {
  width: 340px;
}

.show-web-cards {
  display: block;
}
.hide-web-cards {
  display: none;
}
.show-mob-cards {
  display: block;
}
.hide-mob-cards {
  display: none;
}

.box-title {
  padding: 5px;
}
</style>
