<template>
  <div class="basic-container" style="min-height:500px">
    <div class="orders-container">
      <div class="row path-title">
        <span @click="$router.push('/your-account')" style="cursor: pointer">
          {{$t('yourAccount')}}
        </span>
          <q-icon name="keyboard_arrow_right"></q-icon>

          <b style="cursor: pointer">{{$t('addressBook')}}</b>
      </div>

      <div class="row container-title">
        <span>{{$t('addressBook')}}</span>
      </div>

      <address-box v-for="(address, index) in addresses" :address="address" :key="index" v-on:getAddress="getListAddresses()"></address-box>

      <div class="add-new-address-container" @click="dialog = true">
        <div class="add-new-address-button">
          <img src="../../assets/accounts-icons/discountIcon.svg" alt />
        </div>
        <span class="q-ml-sm">{{$t('addNewAddress')}}</span>
      </div>
    </div>

    <q-dialog v-model="dialog" class="full-height">
      <q-card class="bg-white text-secondary">
        <div class="address-form-container">
          <q-card-section class="address-form-box q-pt-none">
            <div class="text-center" style="font-size: 20px;">{{$t('addNewAddress')}}</div>

            <address-form class="q-mt-sm" v-on:newAddress="getListAddresses(); dialog=!dialog"></address-form>
          </q-card-section>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      dialog: false,
    };
  },

  components: {
    "address-form": require("../shared/components/custom-components/forms/personal-details-form")
      .default,
    "address-box": require("./components/address-box").default
  },
  computed:{
    ...mapGetters("address", ["addresses"])
  },

  methods: {
    ...mapActions("address", ["getListAddresses"]),
   
  },
  created() {
    this.getListAddresses();
  }
};
</script>

<style lang="scss" scoped>
.basic-container {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  margin-bottom: 150px;
}

.orders-container {
  width: 90%;
}

.path-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 24px;
}

.container-title {
  width: 100%;
  font-size: 16px;
  margin-bottom: 25px;
  height: 37px;
}

.default-address-card {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 23px;
  display: flex;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  width: 450px;
  justify-content: space-between;
}

.default-address {
  display: flex;
  align-items: center;
}

.default-address-button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 180px;
  justify-content: space-around;
}

.add-new-address-container {
  border: 1px solid #cccccc;
  border-radius: 2px;
  padding: 23px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.add-new-address-button {
  display: flex;
  align-items: center;
}

.dialog {
  height: 1000px;
}

.address-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.address-form-box {
  width: 90%;
  padding: 17px 0;
}
</style>
