<template>
  <div>
    <q-banner v-if="cardCreateError" class="bg-primary text-white">
      <template v-slot:avatar>
        <q-icon name="error" color="white" />
      </template>
      {{$t('something_error')}}
    </q-banner>
    <form @submit.prevent.stop="onSubmit" class="q-gutter-md">
      <div class="first-line">
        <q-input
          standout="third"
          :label="$t('card_holder_name')"
          ref="holder"
          filled
          outlined
          bg-color="grey-12"
          v-model="holder"
          placeholder="Adam"
          height="20px"
          :rules="[
          val => !!val || $t('required'),
          val => val.length > 4 || $t('minimumValidation') +' 5']"
          lazy-rules
        />
      </div>
      <div class="second-line">
        <div class="card-number">
          <q-input
            :label="$t('card_number')"
            outlined
            square
            ref="cardnum"
            standout="third"
            bg-color="grey-12"
            v-model="cardnum"
            mask="#### #### #### ####"
            placeholder="0000 0000 0000 0000"
            class="payment-input"
            :rules="[
          val => !!val || $t('required'),
          val => val.length > 18 || $t('minimumValidation') +' 16',]"
            lazy-rules
          />
        </div>
        <div class="expiry-date">
          <q-input
            :label="$t('expires')"
            outlined
            ref="expire"
            standout="third"
            square
            bg-color="grey-12"
            style="width:180px;"
            v-model="expire"
            placeholder="MM/YY"
            mask="##/##"
            class="payment-input"
            :rules="[
          val => !!val || $t('required'),
          val => val.length > 4 || $t('minimumValidation') + ' 4',]"
            lazy-rules
          />
        </div>
        <div class="card-cvv">
          <!-- <span>CVV</span>
          <q-input
            standout="third"
            outlined
            bg-color="grey-12"
            v-model="text"
            placeholder="123"
            mask="###"
            class="payment-input"
          />-->
        </div>
      </div>
      <go-btn
        type="submit"
        :text="$t('add_payment_method')"
        color="primary"
        property="primary text-bold text-align-center size-md"
        text-style="font-size:110%"
        icon-bg="#e53f2d"
      ></go-btn>
    </form>
    <q-dialog v-model="newDialog" style="width:500px;">
      <q-card class="full-width">
        <q-card-section>
          <img
            class="q-ml-xl q-mt-md"
            src="~/assets/accounts-icons/payme.svg"
            alt="Downloading..."
            style="max-width: 100px"
          />
        </q-card-section>

        <q-card-section class="row q-pt-none">
          <q-banner v-if="verifyError" class="bg-primary text-white q-ml-xl">
            <template v-slot:avatar>
              <q-icon name="error" color="white" />
            </template>
            {{$t('something_error')}}
          </q-banner>
          <p class="q-mb-sm q-pl-xl">{{$t('enter_password')}}</p>
          <q-input
            class="col-8 q-ml-xl"
            v-model="verfcode"
            ref="verfcode"
            square
            outlined
            label="******"
            aria-placeholder="------"
            mask="######"
            :rules="[
            val => !!val || $t('required'),
            val => val.length > 5 || $t('minimumValidation') + ' 6',]"
            lazy-rules
          />
          <div class="q-mt-md q-pl-xl">
            <q-btn
              :label="$t('resend_sms')"
              :disable="disabledButton"
              @click="closeTimer(), createCard()"
              text-color="blue"
              class="text-h6"
              ref="resend"
              flat
              dense
              :ripple="false"
            ></q-btn>
            <p class="text-subtitle1">{{$t('sent_sms')}}</p>
            <p>+{{phone}}</p>
          </div>

          <div style="width:60%; margin-left:9%;">
            <span class>{{$t('sent_sms_desc')}}</span>
            <br />
            <div>
              {{$t('waiting_time')}}
              <span id="time">{{ minutes }}:{{ seconds }}</span>
            </div>
          </div>
        </q-card-section>
        <q-card-actions class="q-mb-md q-mr-md" align="right">
          <go-flat-btn
            @click="newDialog=!newDialog, closeTimer()"
            label="Cancel"
            icon="arrow_right_alt"
            class="q-mr-lg"
          ></go-flat-btn>
          <go-btn
            @click="sendVerfCode()"
            text="Continue"
            type="submit"
            property="primary text-bold text-align-center l-size-md"
            text-style="font-size:110%"
            icon-bg="#e53f2d"
          ></go-btn>
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      holder: "",
      cardnum: "",
      expire: "",
      newDialog: false,
      phone: null,
      token: null,
      verfcode: null,
      intervalId: 0,
      minutes: "01",
      seconds: "00",
      disabledButton: true,
      cardCreateError: false,
      verifyError: false
    };
  },
  computed: {
    ...mapGetters("address", ["createdDetail", "sendedSMS"])
  },
  methods: {
    ...mapActions("address", ["userCreatePaymentCard", "sendSMSCodeVerfy"]),
    onSubmit() {
      this.$refs.holder.validate();
      this.$refs.cardnum.validate();
      this.$refs.expire.validate();
      if (!this.$refs.holder.hasError && !this.$refs.cardnum.hasError && !this.$refs.expire.hasError) {
        this.createCard();
      }
    },
    startTimer(duration, display) {
      var timer = duration,
        minutes,
        seconds;
      this.intervalId = setInterval(() => {
        this.minutes = parseInt(timer / 60, 10);
        this.seconds = parseInt(timer % 60, 10);

        this.minutes = this.minutes < 10 ? "0" + this.minutes : this.minutes;
        this.seconds = this.seconds < 10 ? "0" + this.seconds : this.seconds;

        if (--timer < 0) {
          this.disabledButton = false;
          clearInterval(this.intervalId);
        }
      }, 1000);
    },
    closeTimer() {
      clearInterval(this.intervalId);
    },
    async createCard() {
      this.disabledButton = true;
      await this.userCreatePaymentCard({
        cardNum: this.cardnum,
        expire: this.expire
      });
      if (this.createdDetail.sent) {
        this.check(this.createdDetail), this.startTimer(60);
      } else {
        this.cardCreateError = true;
      }
    },
    check(data) {
      if (data) {
        this.newDialog = true;
        this.phone = data.phone;
        this.token = data.token;
      }
    },
    async sendVerfCode() {
      this.$refs.verfcode.validate();
      if (!this.$refs.verfcode.hasError) {
        await this.sendSMSCodeVerfy({
          sms: this.verfcode,
          token: this.token,
          phone: this.phone,
          name: this.holder
        });
        if (this.sendedSMS.create) {
          this.$emit("SuccessVerify");
          this.newDialog = false;
        } else {
          this.verifyError = true;
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.first-line {
  margin-top: 30px;
}
.second-line {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.card-number {
  width: 40%;
}
.expiry-date {
  width: 28%;
}

.card-cvv {
  width: 25%;
  margin-top: 6%;
}
</style>
