<template>
  <div>
    <p class="text-h5">{{title}}</p>
    <!-- Your personal details -->
    <div>
      <div class="row justify-between">
        <div class="blocked-center">
          <label for="firstname">Card holder name</label>
          <input v-model="name" type="text" placeholder="Adam Knights" />
        </div>
        <div class="card-center">
          <div class="card-block">
            <label for="lastname">Card number</label>
            <q-input filled dense v-model="card" type="text" mask="#### #### #### ####" fill-mask="#" />
          </div>
          <div class="card-block">
            <label for="lastname">Expiry date</label>
            <q-input filled dense v-model="expire" type="text" mask="##/##" fill-mask />
          </div>
          <div class="card-block">
            <label for="lastname">CVV</label>
            <q-input filled dense v-model="cvv" type="text" placeholder="446" mask="###" fill-mask />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Just prop title is for the header name of the form that is dynamic 
    Other things left as they were because of the same things in everywhere 
  Just after/before editing note about it to the team in the front-dev channel in slack-->
</template>

<script>
export default {
  props: ["title"],
  data() {
    return {
        name: "",
        card: null,
        expire: null,
        cvv: null,
    };
  }
};
</script>

<style scoped>
.name-block {
    width: 100%;
}
.blocked-center {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
p {
  margin: 0px;
}
input {
  background: #f4f5f5;
  outline: none;
  border: none;
  margin-bottom: 15px;
  width: 90%;
  height: 2.5rem;
  border-radius: 0.3em;
  padding-left: 13px;
}
::placeholder {
  color: #c5c7cb;
}
.card-center {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
</style>