<template>
  <div>
    <q-btn color="primary" @mouseover="hello = true" icon-right="mail" label="Hover Me!">
      <q-menu v-model="hello" @mouseleave="hello = false" fit>
        <q-list style="min-width: 100px">
          <q-item clickable>
            <q-item-section>New tab</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>New incognito tab</q-item-section>
            <q-separator />
            <q-item-section>Recent tabs</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>History</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>Downloads</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>Settings</q-item-section>
          </q-item>
          <q-item clickable>
            <q-item-section>Help &amp; Feedback</q-item-section>
          </q-item>
        </q-list>
      </q-menu>
    </q-btn>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // button state false or true: as default false
      hello: false
    };
  }
};
</script>

<style scoped>
.bg-primary {
  background-color: #ff4733 !important;
}
</style>