<template>
    <div>
        <p class="text-h5">{{title}}</p><!-- Your personal details -->
        <div>
          <div class="row justify-between">
            <div class="blocked-center">
              <label for="firstname">Your name</label>
              <input v-model="text" type="text" placeholder="Adam">
            </div>
            <div class="blocked-center">
              <label for="lastname">Last name</label>
              <input v-model="text" type="text" placeholder="Knights">
            </div>
          </div>

          <input v-model="text" type="text" placeholder="Line 1 (required)">
          <input v-model="text" type="text" placeholder="Line 2 (optional)">
          <input v-model="text" type="text" placeholder="Line 3 (optional)">
          <div class="row justify-between">
            <div class="blocked-center">
              <label for="city">City</label>
              <input v-model="text" type="text" placeholder="London">
            </div>
            <div class="blocked-center">
              <label for="city">State/Province</label>
              <input v-model="text" type="text" placeholder="Bringham">
            </div>
          </div>
          <div class="row justify-between">
            <div class="blocked-center">
              <label for="city">Zip code</label>
              <input v-model="text" type="text" placeholder="******">
            </div>
            <div class="blocked-center">
              <label for="city">Phone number</label>
              <input v-model="text" type="text" placeholder="+00 (111) 234 56 78">
            </div>
          </div>
        </div>
    </div>
    <!-- Just prop title is for the header name of the form that is dynamic 
    Other things left as they were because of the same things in everywhere 
    Just after/before editing note about it to the team in the front-dev channel in slack -->
</template>

<script>
    export default {
        props:["title"],
        data() {
            return {
                
            }
        },
    }
</script>

<style scoped>
.blocked-center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 47%;
}
p {
  margin: 0px;
}
input {
  background: #f4f5f5;
  outline: none;
  border: none;
  margin-bottom: 15px;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.3em;
  padding-left: 13px;
}
::placeholder {
  color: #c5c7cb;
}
</style>