<template>
  <div>
    <!-- partial:index.partial.html -->
    <section id="js-grid-list" class="grid-list" v-cloak>
      <!-- Vue.js lets us choose which UL to show depending on the "layout" variable -->
      <div class="container-holder">
              <div class="container q-pt-md">
        <q-breadcrumbs class="text-brown">
          <template v-slot:separator>
            <q-icon size="1.5em" name="chevron_right" color="primary" />
          </template>
          <q-breadcrumbs-el to="/" label="Category" />
          <q-breadcrumbs-el to="/" label="Subcategory" />
          <q-breadcrumbs-el to="/" label="Subcategory" />
        </q-breadcrumbs>
        <div class="category-part">
          <div class="text-subtitle2">100,000 products found</div>&nbsp; &nbsp; &nbsp;
          <div class="text-subtitle2 text-bold category-part">
            Sort by: &nbsp; &nbsp;
            <q-btn-dropdown flat stretch color="primary" :label="active">
              <q-list v-for="(product, index) in products" :key="index">
                <q-item clickable v-close-popup>
                  <q-item-section>
                    <q-item-label>{{product.type}}</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </div>
          <div class="tool-bar">
            <div>
              <!-- These link buttons use Vue.js to bind click events to change the "layout" variable and bind an active class -->
              <a
                class="list-icon"
                v-on:click="layout = 'list'"
                v-bind:class="{ 'active': layout == 'list'}"
                title="List"
              ></a>
              <a
                class="grid-icon"
                v-on:click="layout = 'grid'"
                v-bind:class="{ 'active': layout == 'grid'}"
                title="Grid"
              ></a>
            </div>
          </div>
          <q-icon class="text-weight-bolder size20" name="search" />
        </div>
      </div>
      </div>
      
      <div class="listgrid">
        <ul v-if="layout === 'grid'" class="grid">
          <!-- A "grid" view with photos only -->
          <li v-for="(product, index) in products" :key="index">
            <div class="carder">
              <q-card v-bind:to="product.galleryURL" target="_self">
                <q-img
                  :src="product.galleryURL"
                  :ratio="16/9"
                  spinner-color="primary"
                  spinner-size="82px"
                  class="large-image"
                />
              </q-card>
              <div class="text-subtitle2" href="#">
                Sold by
                <span class="text-bold">author</span>
              </div>
              <div class="text-h6 text-black">{{product.title}}</div>
              <div class="row">
                <div class="text-primary text-bold">£ {{product.sellingStatus.currentPrice.value}}</div>&nbsp;&nbsp;&nbsp;
                <div class="text-black text-strike">Was £ {{product.sellingStatus.currentPrice.value}}</div>
                <!-- <q-rating v-model="blog.rating" size="1.5em" color="orange-9" readonly /> -->
              </div>
            </div>
          </li>
        </ul>

        <ul v-if="layout === 'list'" class="list">
          <!-- A "list" view with small photos and blog titles -->
          <li v-for="(blog, index) in blog_posts" :key="index">
            <a v-bind:href="blog.url" target="_blank" class="list-view">
              <img v-bind:src="blog.image.small" class="small-image" />
              <div class="list-view-info">
                <p class="text-subtitle2">
                  Sold by
                  {{blog.author}}
                  <br />
                  <span class="text-subtitle1">{{blog.name}}</span>
                </p>
                <div class="q-pl-md">
                                  <div class="row">
                  <div class="text-primary text-bold">£ {{blog.price}}</div>&nbsp;&nbsp;&nbsp;
                  <div class="text-black text-strike">Was £ {{blog.old_price}}</div>
                </div>
                <q-rating v-model="blog.rating" size="1.5em" color="orange-9" readonly />
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</template>

<script>

import ObjectService  from "../../shared/services/index"

export default {
  props:["products"],

  data() {
    return {

      // The layout mode, possible values are "grid" or "list".
      layout: "grid",

      // demo data
      blog_posts: [
        {
          url: "https://placeimg.com/218/123/tech",
          author: "Johy",
          name: "Nintendo switchers news here is for you",
          image: {
            large: "https://placeimg.com/218/123/tech",
            small: "https://placeimg.com/218/123/tech"
          },
          price: "525",
          old_price: "820",
          rating: 3
        },
        {
          url: "https://placeimg.com/218/123/tech",
          author: "Johy",
          name: "Nintendo switchers news here is for you",
          image: {
            large: "https://placeimg.com/218/123/tech",
            small: "https://placeimg.com/218/123/tech"
          },
          price: "525",
          old_price: "820",
          rating: 3
        },
        {
          url: "https://placeimg.com/218/123/tech",
          author: "Johy",
          name: "Nintendo switchers news here is for you",
          image: {
            large: "https://placeimg.com/218/123/tech",
            small: "https://placeimg.com/218/123/tech"
          },
          price: "525",
          old_price: "820",
          rating: 3
        },
        {
          url: "https://placeimg.com/218/123/tech",
          author: "Johy",
          name: "Nintendo switchers news here is for you",
          image: {
            large: "https://placeimg.com/218/123/tech",
            small: "https://placeimg.com/218/123/tech"
          },
          price: "525",
          old_price: "820",
          rating: 3
        },
        {
          url: "https://placeimg.com/218/123/tech",
          author: "Johy",
          name: "Nintendo switchers news here is for you",
          image: {
            large: "https://placeimg.com/218/123/tech",
            small: "https://placeimg.com/218/123/tech"
          },
          price: "525",
          old_price: "820",
          rating: 3
        },
        {
          url: "https://placeimg.com/218/123/tech",
          author: "Johy",
          name: "Nintendo switchers news here is for you",
          image: {
            large: "https://placeimg.com/218/123/tech",
            small: "https://placeimg.com/218/123/tech"
          },
          price: "525",
          old_price: "820",
          rating: 3
        }
      ]
    };
  },

  
  
};
</script>

<style scoped>
[v-cloak] {
  /* Hide un-compiled mustache bindings until the Vue instance is ready */

  
  display: none;
}
a {
  text-decoration: none;
}

.grid-list {
  background-color: #fff;
  color: #5e5b64;
  font: 17px/1.3 "Open Sans", sans-serif;
  min-width: 300px;
}

.tool-bar a {
  background: rgba(255, 255, 255, 0.5) center center no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin-right: 5px;
  text-decoration: none;
  width: 16px;
}
.tool-bar div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .tool-bar a.active {
  background-color: rgba(0, 0, 0, 0.5);
} */

.tool-bar a.active:hover {
  cursor: default;
}
ul {
  margin: 0px;
}
.tool-bar a.list-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgLjMyMmgxNnYySDB6bTAgN2gxNnYySDB6bTAgNmgxNnYySDB6IiBvcGFjaXR5PSIuMyIgZmlsbD0iIzBCMTMyMiIvPgo8L3N2Zz4K");
  width: 19px;
  height: 16px;
  background-size: contain;
}
.tool-bar a.list-icon.active {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgMGgxNnYySDBWMHptMCA3aDE2djJIMFY3em0wIDZoMTZ2Mkgwdi0yeiIgZmlsbD0iIzBCMTMyMiIvPgo8L3N2Zz4K");
  width: 19px;
  height: 16px;
  background-size: contain;
}
.tool-bar a.grid-icon {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTAgMGg2LjY0NHY2LjY0NEgwem05IDBoNi42NDR2Ni42NDRIOXpNMCA5aDYuNjQ0djYuNjQ0SDB6bTkgMGg2LjY0NHY2LjY0NEg5eiIgb3BhY2l0eT0iLjMiIGZpbGw9IiMwQjEzMjIiLz4KPC9zdmc+Cg==");
}
.tool-bar a.grid-icon.active {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZmlsbD0iIzBCMTMyMiIgZD0iTTAgMGg2LjY0NHY2LjY0NEgwem05IDBoNi42NDR2Ni42NDRIOXpNMCA5aDYuNjQ0djYuNjQ0SDB6bTkgMGg2LjY0NHY2LjY0NEg5eiIvPgo8L3N2Zz4K");
}
/* Grid layout */
.grid {
  list-style: none;
  padding: 12px 20px 20px 20px;
  text-align: left;
  display: grid;
  position: relative;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.grid li {
  position: relative;
}

.grid li:after {
  content: "";
  display: block;
}

.grid li .carder {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px solid transparent;
  height: 100%;
  position: relative;
  width: 100%;
}

/* List layout */
.list {
  list-style: none;
  margin: 20px 0 auto;
  padding: 0;
  text-align: left;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list li {
  border-bottom: 1px solid #fff;
  overflow: hidden;
  padding: 0px;
  transition: background 0.2s linear;
  padding: 15px 0;
  width: 50%;
}
@media screen and (max-width: 825px) {
  .list {
    justify-content: center;
  }
  .list li {
    width: 100%;
  }
}
.list li img {
  border: none;
  height: 120px;
  vertical-align: middle;
  width: 120px;
}

.list li p {
  color: #000;
  font-weight: 700;
  padding: 0 0 0 15px;
  vertical-align: middle;
  width: 100%;
}

.color-white {
  color: white;
}

.container-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.container {
display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94.7%;
}
.category-part {
  display: flex;
  align-items: center;
}
.list-grid {
  display: flex;
  align-items: center;
}
.list-view {
  display: flex;
  flex-direction: row;
}
.list-view-info {
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
}
.small-image, .large-image {
  width: 100%;
  height: 175px;
  object-fit: cover;
}
</style>