<template>
    <div class="promotion row wrap justify-center items-center content-center">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        props: ['promotion-text', 'hello']
    }
</script>

<style scoped>
.promotion {
    color: white;
    background-color: #ff4733;
    height: 45px;
    width: 100%;
}

@media screen and (max-width: 600px){
    .promotion {
        font-size: 11.5px;
        height: 33px;
    }
}

</style>