<template>
  <div>
    <div class="go-footer">
      <div class="go-logo-container">
        <img class="go-logo-footer" src="./logo-White.svg" alt="">
      </div>
      <q-separator dark style="opacity:0.5" />
      <q-list dark  >
        <q-expansion-item
        class="expansions"
          label="Account settings"
          exact
          style="background-color: #0B1322;"
        >
          <q-card>
            <q-card-section style="background-color: #0B1322">
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-separator dark style="opacity:0.5" />
        <q-expansion-item
          expand-separator
          class="expansions"
          label="Account settings"
          exact
          style="background-color: #0B1322"
        >
          <q-card>
            <q-card-section style="background-color: #0B1322">
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-separator dark style="opacity:0.5"  />
        <q-expansion-item
          expand-separator
          class="expansions"
          label="Account settings"
          exact
          style="background-color: #0B1322"
        >
          <q-card>
            <q-card-section style="background-color: #0B1322">
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-separator dark style="opacity:0.5"  />
        <q-expansion-item
          expand-separator
          class="expansions"
          label="Account settings"
          exact
          style="background-color: #0B1322"
        >
          <q-card>
            <q-card-section style="background-color: #0B1322">
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
              <p>Subtitle</p>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
      <q-separator dark style="opacity:0.5"  />
      <div class="bottom-links">
        <div class="row link-container space-between">
          <div class="b-links">Cookies</div>
          <div class="b-links">Cookies</div>
          <div class="b-links">Cookies</div>
        </div>
          
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      
    }
  },
  computed: {
      animateToTop: function(e) {
        e.preventDefault();
        var scrollToTop = window.setInterval(function() {
            var pos = window.pageYOffset;
            if ( pos > 0 ) {
                window.scrollTo( 0, pos - 20 );
            } else {
                window.clearInterval( scrollToTop );
            }
        }, 10);
    } 
  }
}
</script>

<style lang="scss" scoped>
.back-to-top{
  height: 50px;
}

.go-logo-container{
  height: 100px;
  text-align: center;
}

.go-logo-footer {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.go-footer{
  background: #0B1322;
}

.go-logo-footer{
  height: 45px;
}

.bottom-links{
  height: 50px;
}

.bottom-links{
  display: flex;
  justify-content: space-around;
  color: #a1a1a1;
  font-size: 12px;

}

.link-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: auto;
}


</style>