<template>
  <ul class="listOfProducts">
    <li v-for="(product, index) in getAllProducts" :key="index" class="product">
      <img :src="product.image" alt="">
      <router-link to="/product-details">
        <h2 class="product-name"
            @click="addCurrentProduct(product)">
          {{ product.name }}
        </h2>
      </router-link>
      <div class="product-price">
        <span>R$ {{ product.price }}, 00</span>
        <span>10 x {{ Math.round(product.price / 10) }}, 00 </span>
      </div>

      <q-btn btnColor="btn btn-large btn-sucess"
          @click="addProductToCart(product)">
        Add  cart
      </q-btn>
    </li>
  </ul>
</template>


<script>
import { mapActions } from 'vuex';
    export default {
        data(){
            return {

            }
        },
        computed:{
            getAllProducts(){
                return this.$store.getters.getAllProducts
            }
        },

        methods: {
            ...mapActions([
            'addProduct',
            'currentProduct',
            ]),
            addProductToCart(product) {
              this.addProduct(product)
            },
            addCurrentProduct(product) {
              this.currentProduct(product)
            },
        },
    }
</script>

<style lang="scss" scoped>

</style>