<template>
 <div>
  <q-list dark separator>
   <!-- If authorised user -->
   <q-item
    class="opensans-bold bg-white text-secondary"
    v-for="largenav in helloReachel"
    :key="largenav.label"
   >
    <q-item-section class="all-pointer-events" side>
     <q-btn flat round color="black" @click="closingPressed()">
      <q-icon name="clear" />
     </q-btn>
    </q-item-section>
    <q-item-section class="row items-center justify-center q-mr-xl">
    <div  @click="$router.push('/');closingPressed()" class="logo">
     <img class="cursor-pointer go-logo" src="statics/Logo-Black.svg" />
    </div>
    </q-item-section>
   </q-item>
   <q-item
    class="onlarge q-p-md"
    v-for="largenav in largenavs"
    :key="largenav.label"
    :to="largenav.to"
    exact
    clickable
    v-ripple
    style="background-color: #0B1322;font-size:17px;color:lightgrey;"
   >
    <q-item-section>{{ largenav.label }}</q-item-section>
    <q-item-section avatar>
     <q-icon color="white" name="keyboard_arrow_right" />
    </q-item-section>
   </q-item>

   <q-item
    class="onsmall"
    v-for="smallnav in smallnavs"
    :key="smallnav.label"
    :to="smallnav.to"
    exact
    clickable
    v-ripple
    style="background-color: #0B1322"
   >
    <q-item-section>{{ smallnav.label }}</q-item-section>
    <q-item-section avatar>
     <q-icon color="white" name="keyboard_arrow_right" />
    </q-item-section>
   </q-item>
   <q-item-section class="q-mt-lg q-ml-md" v-if="loggedIn">
    <q-item-section class="text-bold q-mb-sm"
     >{{ $t("userGreeting") }} {{ user.first_name }}!</q-item-section
    >
   </q-item-section>
  </q-list>

  <q-list>
   <q-item
    clickable
    v-if="!loggedIn"
    style="color: lightgrey"
    @click="$router.push({name:'register'})"
   >
    <q-item-section>{{ $t("register") }}</q-item-section>
   </q-item>
   <q-dialog class="row" v-model="register">
    <go-register
     v-on:openLogin="
      register = !register;
      login = !login;
     "
    ></go-register>
   </q-dialog>
   <q-item
    v-if="!loggedIn"
    clickable
    style="color: lightgrey"
    @click="$router.push({name:'login'})"
   >
    <q-item-section>{{ $t("login") }}</q-item-section>
   </q-item>

   <q-item v-if="loggedIn" clickable style="color: lightgrey">
    <q-item-section @click="$router.push('your-account')">{{
     $t("myAccount")
    }}</q-item-section>
   </q-item>
   <q-item v-if="loggedIn" clickable style="color: lightgrey">
    <q-item-section @click="logout">{{ $t("signOut") }}</q-item-section>
   </q-item>

   <q-dialog v-model="login">
    <go-login
     v-on:closeLogin="
      login = !login;
      forgetPassword = !forgetPassword;
     "
     v-on:openRegister="
      login = !login;
      register = !register;
     "
    ></go-login>
   </q-dialog>
  </q-list>

  <div class="absolute-bottom row" style="width: 100vw">
   <q-select
    v-model="lang"
    :options="langOptions"
    square
    emit-value
    class="col-6 lang-button"
    map-options
    @input="sendLang(lang)"
   >
    <template v-slot:selected>
     <div class="text-white" style="margin-left:40%;" v-if="lang == 'en-us'">
      EN
     </div>
     <div class="text-white" style="margin-left:40%;" v-if="lang == 'ru-rus'">
      RU
     </div>
     <div class="text-white" style="margin-left:40%;" v-if="lang == 'uz-lat'">
      UZ
     </div>
    </template>
   </q-select>

   <q-select
    square
    map-options
    class="col-6 currency-button"
    standout="bg-transparent text-white"
    v-model="money_type"
    :options="money_options"
    disable
   >
    <template v-slot:selected>
     <div class="text-white" style="margin-left:40%;">UZS</div>
    </template>
   </q-select>
  </div>
 </div>
</template>

<script>
import ObjectService from "src/app/shared/services/index.js";
import axios from "axios";
import { mapActions, mapGetters, mapState } from "vuex";
import CategoryService from "src/services/category/category.service";
export default {
 data() {
  return {
   lang: this.$i18n.locale,
   langOptions: [
    { value: "en-us", label: "EN" },
    { value: "uz-lat", label: "UZ" },
    { value: "ru-rus", label: "RU" }
   ],
   money_type: this.$i18n.locale,
   money_options: [
    { value: "ru-rus", label: "UZS" },
    { value: "en-us", label: "USD" },
    { value: "uz-lat", label: "GBP" }
   ],
   largenavs: [
    {
     label: this.$t("allCategories"),
     to: "/category-list"
    },
    {
     label: this.$t("trending"),
     to: "/trending"
    },
    {
     label: this.$t("todaysDeals"),
     to: "/todays-deals"
    },
    {
     label: this.$t("bestSellers"),
     to: "/bestsellers"
    }
   ],

   largenavsLogIn: [
    {
     label: this.$t("register"),
     icon: "input",
     to: "/register"
    },
    {
     label: this.$t("login"),
     icon: "account_box",
     to: "/login"
    }
   ],
   helloReachel: [
    {
     label: "Hello Reachel!",
     icon: "input"
    }
   ],
   largenavsLogOut: [
    {
     label: this.$t("signOut"),
     icon: "account_box",
     to: "/login"
    },
    {
     label: this.$t("myAccount"),
     icon: "account_box",
     to: "/login"
    }
   ],
   smallnavs: [
    {
     label: "Home Page desk",
     // desc: 'Main Page Of The Website',
     icon: "home",
     to: "/"
    },
    {
     label: "Product details desk",
     icon: "info",
     to: "/product-details"
    },
    {
     label: "Cart desk",
     icon: "cart",
     to: "/cart"
    }
   ],
   //authorization
   register: false,
   login: false,
   forgetPassword: false
  };
 },
 computed: {
  ...mapGetters("auth", ["loggedIn", "user"])
 },
 methods: {
  ...mapActions("auth", ["logout"]),
  ...mapActions("auth", ["fetchUser"]),
  ...mapActions("category", ["getRootCategory"]),
  ...mapActions("category", ["updateLoader"]),
  async sendLang(value) {
   localStorage.setItem("lang", value);
   await CategoryService.updateCategoryLang(value);
   this.getRootCategory();
   window.location.reload();
  },

  async runFetchUser() {
   if (this.loggedIn) {
    await this.fetchUser();
    this.lang = this.user.lang;
    this.$i18n.locale = this.user.lang;
    localStorage.setItem("lang", this.user.lang);
   } else if (localStorage.getItem("lang") == undefined) {
    this.lang = "ru-rus";
    localStorage.setItem("lang", "ru-rus");
   }
  },

  closingPressed() {
   this.$emit("closedrawer");
  }
 },
 created() {
  this.$i18n.locale = localStorage.getItem("lang");
 },
 mounted() {
  this.runFetchUser();
 },

 components: {
  "go-login": require("src/app/accounts/auth/login-dialog").default,
  "go-register": require("src/app/accounts/auth/register-dialog").default
 }
};
</script>

<style>
.q-router-link--exact-active {
 color: ghostwhite !important;
 font-family: "OpenSans-SemiBold";
}

@media screen and (max-width: 757px) {
 .onsmall {
  display: none;
 }

 .onlargeLogOut {
  color: aliceblue;
 }

 .lang-button {
  border-top: 0.02px solid #7a7a7a !important;
  border-right: 0.02px solid #7a7a7a !important;
  border-radius: 0px !important;
 }

 .currency-button {
  border-top: 0.02px solid #7a7a7a !important;
  border-radius: 0px !important;
  border-left: 0px solid transparent !important;
 }
}
@media screen and (min-width: 757px) {
 .onlarge {
  display: none;
 }
}
.go-logo {
 height: 37px;
}

/* .logo {
  display:flex;
  justify-content:center;
  align-items:center;

} */
</style>

<style scoped>
.q-field__marginal {
 color: #ffffff;
}
</style>
