/* COLORS OF GOBAZAR */

:root {
  /* The brand colors */
  --go-primary: #ff4733;
  --go-secondary: #0b1322;
  --go-accent: #be0db6;
  --go-positive: #32c94b;
  --go-negative: #f01729;
  --go-warning: #fca12c;
  --go-grey: #EFEFF1;
  --go-skyblue: #00a1d1;
  /* Additional to the brand colors*/
  --go-primary-o: #e53f2d;
  --go-secondary-o: #232b38;
  /* -o means overlaying color.
    Namely a color looks like that color.
    And mostly used as icon background
    of the GoBtn component.*/
}


/* The brand colors */

.go-primary-text {
  color: var(--go-primary);
}

.go-primary-bg {
  background: var(--go-primary);
}

.go-secondary-text {
  color: var(--go-secondary);
}

.go-secondary-bg {
  background: var(--go-secondary);
}

.go-accent-text {
  color: var(--go-accent);
}

.go-accent-bg {
  background: var(--go-accent);
}

.go-positive-text {
  color: var(--go-positive);
}

.go-positive-bg {
  background: var(--go-positive);
}

.go-negative-text {
  color: var(--go-negative);
}

.go-negative-bg {
  background: var(--go-negative);
}

.go-warning-text {
  color: var(--go-warning);
}

.go-warning-bg {
  background: var(--go-warning);
}

.go-grey-text {
  color: var(--go-grey);
}

.go-grey-bg {
  background: var(--go-grey);
}

.go-skyblue-text {
  color: var(--go-skyblue);
}

.go-skyblue-bg {
  background: var(--go-skyblue);
}


/* Additional to the brand colors */

.go-primary-text-o {
  color: var(--go-primary-o);
}

.go-primary-bg-o {
  background: var(--go-primary-o);
}

.go-secondary-text-o {
  color: var(--go-secondary-o);
}

.go-secondary-bg-o {
  background: var(--go-secondary-o);
}