<template>
  <div class="flex flex-center">
     <div class="q-pa-md">
       <div> 
        <q-btn flat @mouseover="show = true; showMenu(true)" @mouseleave="showMenu(false)" >
          {{$t('userGreeting')}}, &nbsp; <span class="text-bold">{{firstname}}!</span>
          <q-menu square class="bg-primary" @mouseover="showMenu(true)" @mouseleave="showMenu(false)" v-model="show">
            <q-list>
              <q-item to="/your-account" clickable v-ripple>
                <q-item-section>{{$t('yourAccount')}}</q-item-section>
              </q-item>

              <q-item to="/your-orders" clickable v-ripple>
                <q-item-section>
                  <q-item-label>{{$t('yourOrders')}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item to="/your-address-book" clickable v-ripple>
                <q-item-section>
                  <q-item-label>{{$t('addressBook')}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item to="/payment-methods" clickable v-ripple>
                <q-item-section>
                  <q-item-label>{{$t('paymentMethods')}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item to="/login-security" clickable v-ripple>
                <q-item-section>
                  <q-item-label>{{$t('loginAndSecurity')}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item to="/wishlist" clickable v-ripple>
                <q-item-section>
                  <q-item-label>{{$t('wishlist')}}</q-item-label>
                </q-item-section>
              </q-item>

              <q-item  @click="logout" class="bg-primary text-white" clickable v-ripple>
                <q-item-section>
                  <q-item-label>{{$t('signOut')}}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </div>
    </div>
  </div>
</template>

<script>
import { debounce } from 'quasar'
import {mapGetters, mapActions} from 'vuex'

export default {
  name: 'PageIndex',
  data() {
    return {
      show: false,
      didLeft: false,
      timer: void 0,
      // firstname: "Brad"
    }
  },
  props: ["firstname"],
  created() {
    this.showMenu = debounce(this.showMenu, 300)
  },
  methods: {
    ...mapActions('auth', ['logout']),
    showMenu(show) {
      this.show = show
    },
    // onLogout() {
    //   this.$store.dispatch('logout')
    // }
  }
}
</script>

<style scoped>
.q-router-link--exact-active {
    color: var(--q-color-primary) !important;
}
.q-router-link--exact-active:hover {
    color: white !important;
}
.q-item {
    color: var(--q-color-secondary);
}
.q-item:hover {
    background-color: black;
    color: white;
}
</style>