<template>
  <form @submit.prevent="submitForm">
    <q-card class="col-xl-4 col-lg-3 col-md-4 col-sm-6 col-xs-10">
      <q-card-section>
        <!-- Edit your password text place  -->
        <q-img
          src="statics/logo-black.svg"
          spinner-color="white"
          style="height: auto; max-width: 150px"
          class="q-mb-md"
        />

        <div class="text-h5 q-mb-lg">Forget your password</div>

        <q-banner v-if="errorBanner" class="bg-primary text-white">
          <template v-slot:avatar>
            <q-icon name="error" color="white" />
          </template>
          Something went wrong, please check it and try again
        </q-banner>
        <!-- Divided area for the old password -->
        <div class="column q-mt-md">
          <div class="text-subtitle1">To reset your password please enter your Email address.</div>

          <q-input
            placeholder="Enter your email"
            class="col"
            square
            outlined
            v-model="formInfo.email"
            ref="email"
            type="email"
            :rules="[val => !!val || 'Field is required']"
            lazy-rules="ondemand"
          ></q-input>
        </div>
      </q-card-section>
      <!-- Password saving or canceling area -->
      <q-card-actions class="q-mt-xl" vertical align="right">
        <div class="q-gutter-md">
          <!-- Canceling button -->
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <!-- Saving  and editing button -->
          <q-btn label="Submit" color="primary" type="submit" />
        </div>
      </q-card-actions>
    </q-card>
  </form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  data() {
    return {
      errorBanner: false,
      formInfo: {
        email: "",
        text: ""
      }
    };
  },
   computed:{
    ...mapGetters("profile", ["emailSendedSuccess", "errorCode"])
  },
  methods: {
     ...mapActions("profile", ["sendEmailForgetPassword"]),
    submitForm() {
      this.$refs.email.validate();
      if (!this.$refs.email.hasError) {
        this.$q.loading.show();
        this.sendEmail();
      }
    },
    async sendEmail() {
      await this.sendEmailForgetPassword(this.formInfo.email)
      if (this.emailSendedSuccess) {
            this.$emit("passwordSuccess");
      }else if (this.errorCode){
        this.errorBanner = true
      }
      this.$q.loading.hide();
      
        
    }
  }
};
</script>

<style lang="sass">
.q-card
    box-shadow: none
    border-radius: none
    vertical-align: none
    background: white
    position: relative

.q-no-top
    font-size: 3rem
    font-weight: 400
    line-height: 0
    letter-spacing: normal
</style>
