<template>
  <div class="thumb-example">
    <!-- swiper1 -->
    <swiper class="swiper gallery-top" :options="swiperOptionTop" ref="swiperTop">
      <swiper-slide
        v-for="(imageUrl, index) in pictureAllURLs"
        :key="index"
        :class="`slide-${index + 1}`"
      >
        <img class="swiper-image contain" :src="imageUrl" alt />
      </swiper-slide>

      <div class="swiper-button-next swiper-button" slot="button-next"></div>
      <div class="swiper-button-prev swiper-button" slot="button-prev"></div>
    </swiper>
    <!-- swiper2 Thumbs -->
    <swiper class="swiper gallery-thumbs" :options="swiperOptionThumbs" ref="swiperThumbs">
      <swiper-slide
        v-for="(imageUrl, index) in pictureAllURLs"
        :key="index"
        :class="`slide-${index + 1}`"
      >
        <img class="thumb-pic contain" :src="imageUrl" alt />
      </swiper-slide>

    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import "swiper/css/swiper.css";
export default {
  name: "swiper-example-thumbs-gallery",
  title: "Thumbs gallery with Two-way control",
  props: ["pictureAllURLs",
            "slideToNext",
            "variation_pictures",
            "selected"],
  components: {
    Swiper,
    SwiperSlide
  },
  directives: {
    swiper: directive
  },
  data() {
    return {
      swiperOptionTop: {
        spaceBetween: 10,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev"
        }
      },
      swiperOptionThumbs: {
        spaceBetween: 10,
        centeredSlides: true,
        slidesPerView: "auto",
        touchRatio: 0.2,
        slideToClickedSlide: true
      }
    };
  },
  computed:{
  swiperTop() {
   return this.$refs.swiperTop.$swiper;
  },
  swiperThumbs() {
   return this.$refs.swiperThumbs.$swiper;
  },

  selectedAttrPicURL() {
      var pic_sel_url = "";
      this.variation_pictures.forEach(pic => {
        for (var key in this.selected) {
          if (this.selected.hasOwnProperty(key)) {
            if (pic.value == this.selected[key]) {
              pic_sel_url = pic.url;
            }
          }
        }
      });
      this.picSelectedURL = pic_sel_url;
      return this.pictureAllURLs.indexOf(pic_sel_url);
    },
  },

  mounted() {
    this.$nextTick(() => {
      const swiperTop = this.$refs.swiperTop.$swiper;
      const swiperThumbs = this.$refs.swiperThumbs.$swiper;
      swiperTop.controller.control = swiperThumbs;
      swiperThumbs.controller.control = swiperTop;
    });
  },

  methods:{
  updateSlideTo() {
   if (this.selectedAttrPicURL) {
    this.swiperTop.slideTo(this.selectedAttrPicURL);
   }
  },

 },
};
</script>

<style lang="scss" scoped>
.thumb-example {
  height: 650px;
}
.swiper .swiper-slide {
  position: relative;
  display: inline-block;
  margin: 0;
}
.gallery-top {
  height: 550px;
  width: 550px;
  border: 1px solid lightgray;
}
.gallery-thumbs {
  width: 550px;
  margin-top: 10px;
}

swiper .swiper-slide .gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

swiper .swiper-slide .gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

.swiper-image {
  height: 550px;
  width: 550px;
  background: #ffffff;
}

.thumb-pic {
  height: 100px;
  width: 100px;
  background: #ffffff;
  cursor: pointer;
}

.contain {
  object-fit: contain;
}
.scale-down {
  object-fit: scale-down;
}

.gallery-thumbs .swiper-slide {
  width: 100px !important;
  height: 100px !important;
  opacity: 1;
  border: 2px solid #e3e3e9;
}
.gallery-thumbs .swiper-slide-active {
  width: 100px !important;
  height: 100px !important;
  opacity: 1;
  border: 2px solid #777777;
}

.q-field--auto-height.q-field--dense .q-field__control,
.q-field--auto-height.q-field--dense .q-field__native {
  min-height: 47px !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: 20px;
  font-weight: bold;
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  /* font-variant: initial; */
  line-height: 1;
  color: #ffffff;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background: rgba(0, 0, 0, 0.3);

}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background: rgba(0, 0, 0, 0.3);
}



.swiper-button-next {
  right: 0px;
}

.swiper-button-prev {
  left: 0px;
}

//medias
@media screen and (max-width: 1375px) {
  .thumb-example {
  height: 610px;
}
  .gallery-top {
    height: 520px;
    width: 520px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 520px;
    height: 520px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 520px;
    width: 520px;
  }

  //thubmbail

  .gallery-thumbs {
    width: 520px;
    margin-top: 7px;
  }
}

@media screen and (max-width: 1300px) {
  .thumb-example {
  height: 590px;
  }
  thumb-example {
  height: 580px;
}
  .gallery-top {
    height: 500px;
    width: 500px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 500px;
    height: 500px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 500px;
    width: 500px;
  }

  //thubmbail

  .gallery-thumbs {
    width: 500px;
    margin-top: 7px;
  }
}


@media screen and (max-width: 1225px) {
  .thumb-example {
  height: 520px;
  }
  .gallery-top {
    height: 450px;
    width: 450px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 450px;
    height: 450px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 450px;
    width: 450px;
  }

  //thubmbail

  .gallery-thumbs {
    width: 450px;
    margin-top: 7px;
  }

  .thumb-pic {
    height: 80px;
    width: 80px;
    cursor: pointer;
  }

  .gallery-thumbs .swiper-slide {
    width: 80px !important;
    height: 80px !important;
    opacity: 1;
    border: 2px solid #e3e3e9;
  }
  .gallery-thumbs .swiper-slide-active {
    width: 80px !important;
    height: 80px !important;
    opacity: 1;
    border: 2px solid #777777;
  }
}

@media screen and (max-width: 1087px) {
  .thumb-example {
  height: 470px;
  }
  .gallery-top {
    height: 400px;
    width: 400px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 400px;
    height: 400px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 400px;
    width: 400px;
  }

  //thubmbail

  .gallery-thumbs {
    width: 400px;
    margin-top: 7px;
  }

  .thumb-pic {
    height: 80px;
    width: 80px;
  }

  .gallery-thumbs .swiper-slide {
    width: 80px !important;
    height: 80px !important;
    opacity: 1;
    border: 2px solid #e3e3e9;
  }
  .gallery-thumbs .swiper-slide-active {
    width: 80px !important;
    height: 80px !important;
    opacity: 1;
    border: 2px solid #777777;
  }
}

@media screen and (max-width: 950px) {
  .thumb-example {
  height: 430px;
  }
  .gallery-top {
    height: 370px;
    width: 370px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 370px;
    height: 370px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 370px;
    width: 370px;
    background: #ffffff;
  }

  //thubmbail

  .gallery-thumbs {
    width: 370px;
    margin-top: 7px;
  }

  .thumb-pic {
    height: 70px;
    width: 70px;
    background: #ffffff;
    cursor: pointer;
  }

  .gallery-thumbs .swiper-slide {
    width: 70px !important;
    height: 70px !important;
    opacity: 1;
    border: 2px solid #e3e3e9;
  }
  .gallery-thumbs .swiper-slide-active {
    width: 70px !important;
    height: 70px !important;
    opacity: 1;
    border: 2px solid #777777;
  }
}
@media screen and (max-width: 880px) {
  .thumb-example {
  height: 360px;
  }
  .gallery-top {
    height: 340px;
    width: 340px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 340px;
    height: 340px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 340px;
    width: 340px;
  }

  //thubmbail

  .gallery-thumbs {
    width: 340px;
    margin-top: 7px;
  }

  .thumb-pic {
    height: 70px;
    width: 70px;
    cursor: pointer;
  }

  .gallery-thumbs .swiper-slide {
    width: 70px !important;
    height: 70px !important;
    opacity: 1;
    border: 2px solid #e3e3e9;
  }
  .gallery-thumbs .swiper-slide-active {
    width: 70px !important;
    height: 70px !important;
    opacity: 1;
    border: 2px solid #777777;
  }
}
@media screen and (max-width: 810px) {
  .thumb-example {
  height: 360px;
  }
  .gallery-top {
    height: 300px;
    width: 300px;
  }

  swiper .swiper-slide .gallery-thumbs .swiper-slide {
    width: 300px;
    height: 300px;
    opacity: 0.4;
  }
  .swiper-image {
    height: 300px;
    width: 300px;
  }

  //thubmbail

  .gallery-thumbs {
    width: 300px;
    margin-top: 7px;
  }

  .thumb-pic {
    height: 70px;
    width: 70px;
    cursor: pointer;
  }

  .gallery-thumbs .swiper-slide {
    width: 70px !important;
    height: 70px !important;
    opacity: 1;
    border: 2px solid #e3e3e9;
  }
  .gallery-thumbs .swiper-slide-active {
    width: 70px !important;
    height: 70px !important;
    opacity: 1;
    border: 2px solid #777777;
  }
}

@media screen and(min-width: 702px){

  .swiper-button-next:hover,
.swiper-container-rtl .swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.6);

}

.swiper-button-prev:hover,
.swiper-container-rtl .swiper-button-next:hover {
 background: rgba(0, 0, 0, 0.6);
}
}

@media screen and (max-width: 700px){
  .thumb-example{
    height: 300px;
  }
  .gallery-top{
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .gallery-thumbs {
  visibility: hidden;
  height: 0px !important;
 }
 .swiper-image {
    width: 100%;
    height: 300px;

  }
  .swiper-button-next:active,
.swiper-container-rtl .swiper-button-prev:active {
  background: rgba(0, 0, 0, 0.6);

}

.swiper-button-prev:active,
.swiper-container-rtl .swiper-button-next:active {
 background: rgba(0, 0, 0, 0.6);
}
}
</style>
