<template>
  <div id="app"><stars-rating :config="config"></stars-rating></div>
</template>

<script>
  import starsRating from "./rating-stars";
  export default {
    name: "App",
    props:["rating", "indicator"],
    components: {
      starsRating: starsRating
    },
    data() {
      return {
        config: {
          rating: this.rating,
          isIndicatorActive: this.indicator,
          style: {
            fullStarColor: "#ed8a19",
            emptyStarColor: "#737373",
            starWidth: 20,
            starHeight: 20
          }
        }
      };
    }
  };
</script>

<style>
  #app {
    width: 275px;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
