<template>
  <div id="q-app">
    <transition name="fade" mode="in-out">
      <!-- <go-loader></go-loader> -->
      <router-view :key="$route.fullPath"></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
/* transitions */
#app {
  overflow: hidden;
  width: 100vw;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 1ms ease-out;
}

.fade-leave-to {
  opacity: 0;
}
</style>
