<template>
  <q-page class="column body404">
    <q-responsive :ratio="16/9" class="col" style="max-height: 100vh">
      <div class=" column flex-center text-center">
        <div class="text-h1 q-mb-none franchise">Скоро</div>
        <p class="proxima-regular q-ma-xl text-h5 text-center" style="max-width:800px;">
          {{$t('commingMessage')}}
        </p>
      </div>
    </q-responsive>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      windowWidth: window.innerWidth
    };
  },
  mounted() {
    window.addEventListener("resize", () => {
      this.windowWidth = window.innerWidth;
    });
  }
};
</script>

<style lang="scss" scoped>
// .body404 {
//   background: rgb(180,58,89);
//   background: linear-gradient(90deg, rgba(180,58,89,1) 0%, rgba(253,29,29,1) 51%, rgba(252,176,69,1) 100%);
//   background-image: linear-gradient( 112.1deg,  rgba(32,38,57,1) 11.4%, rgba(63,76,119,1) 70.2% );
// }
* {
  overflow: hidden;
}
</style>