<template>
  <div>
    <q-btn class="no-border-radius" :label="$t('sizeGuide')" color="secondary" @click="dialog = true" />

    <q-dialog v-model="dialog" :maximized="maximizedToggle">
      <q-card style="width:900px; height:600px">
        <q-bar>
          <q-space />
          <q-btn dense flat icon="close" v-close-popup>
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>
        <q-card-section>
          <div class="text-h6">{{$t('sizeGuide')}}</div>
        </q-card-section>
        <q-card-section class="q-pt-none">
          <div  style="max-width: 100%">
            <q-list bordered class="rounded-borders">
              <q-expansion-item expand-separator :label="$t('men')">
                <q-card>
                  <q-card-section>
                    <div  style="max-width: 100%">
                      <q-list bordered class="rounded-borders">
                        <q-expansion-item
                          expand-separator
                          :label="$t('clothingSize')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="menSizeClothing"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                         <q-expansion-item
                          expand-separator
                          :label="$t('footwearSize')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="menSizeFootwear"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
              <q-expansion-item expand-separator :label="$t('women')">
                <q-card>
                  <q-card-section>
                    <div style="max-width: 100%">
                      <q-list bordered class="rounded-borders">
                        <q-expansion-item
                          expand-separator
                          :label="$t('clothingSize')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="woomenSizeClothing"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                         <q-expansion-item
                          expand-separator
                          :label="$t('footwearSize')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="woomenSizeFootwear"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
              <q-expansion-item expand-separator :label="$t('children')">
                <q-card>
                  <q-card-section>
                    <div style="max-width: 100%">
                      <q-list bordered class="rounded-borders">
                        <q-expansion-item
                          expand-separator
                          :label="$t('clothingSize')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="childrenSizeClothing"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                         <q-expansion-item
                          expand-separator
                          :label="$t('childrensFootwear')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="childrenSizeFootwear"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                        <q-expansion-item
                          expand-separator
                          :label="$t('babysFootwear')"
                        >
                          <q-card>
                            <q-card-section>
                              <size-table :sizes="babiesFootwaer"></size-table>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </q-list>
                    </div>
                  </q-card-section>
                </q-card>
              </q-expansion-item>
            </q-list>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import menFootwearSizeJSON from "./JSONFiles/men/menFootwearSize.json";
import menClothingSizeJSON from "./JSONFiles/men/menClothingSize.json";

import woomenFootwearSizeJSON from "./JSONFiles/woomen/woomenFootwearSize.json"
import woomenClothingSizeJSON from "./JSONFiles/woomen/woomenClothingSize.json"

import childrenFootwearSizeJSON from "./JSONFiles/children/childrenFootwearSize.json"
import childrenClothingSizeJSON from "./JSONFiles/children/childrenClothingSize.json"
import babiesFootwearSizeJSON from "./JSONFiles/children/babiesFootwear.json"
export default {
  data() {
    return {
      dialog: false,
      maximizedToggle: true,
      menSizeFootwear: menFootwearSizeJSON,
      menSizeClothing: menClothingSizeJSON,

      woomenSizeFootwear: woomenFootwearSizeJSON,
      woomenSizeClothing: woomenClothingSizeJSON,

      childrenSizeFootwear:childrenFootwearSizeJSON,
      childrenSizeClothing: childrenClothingSizeJSON,
      babiesFootwaer: babiesFootwearSizeJSON

    };
  },

  components: {
    "size-table": require("./size-table").default
  }
};
</script>
<style lang="">

</style>
