<template v-if="text || right || left">
  <div
    @click="click"
    v-ripple.early
    class="relative-position cursor-pointer"
    :class="block ? 'go-btn--container-block' : 'go-btn--container'"
  >
    <i
      v-if="left"
      class="material-icons go-btn--icon cursor-pointer"
      :class="['bg-'+leftBg, 'text-'+leftTextColor]"
    >{{left}}</i>
    <button
      :type="type"
      class="remove-btn-ness cursor-pointer"
      :class="[block ? 'go-btn--block' : 'go-btn', 'bg-'+color, 'text-'+textColor]"
    >
      <!-- 	block -->
      <div v-if="text" :class="block">
        <span
          :style="[!block ? {paddingLeft: padding+'px', paddingRight: padding+'px'} : {}, bold ? {fontWeight: 'bold'} : {fontWeight: 'normal'}]"
          v-if="text"
        >
          <slot>{{text}}</slot>
        </span>
      </div>
    </button>
    <i
      v-if="right"
      class="material-icons go-btn--icon cursor-pointer"
      :class="['bg-'+rightBg,  'text-'+rightTextColor]"
    >{{right}}</i>
  </div>
</template>

<script>
export default {
  props: {
    text: {
      type: [String, Function],
      default: "Go button"
    },
    textColor: {
      type: [String, Function],
      default: "white"
    },
    left: {
      type: [String, Function],
      default: ""
    },
    right: {
      type: [String, Function],
      default: "arrow_right_alt"
    },
    type: {
      type: [String, Function],
      default: "button"
    },
    block: {
      type: [Boolean, Function],
      default: false
    },
    color: {
      type: [String, Function],
      default: "primary"
    },
    leftBg: {
      type: [String, Function],
      default: "go-primary-o"
    },
    leftTextColor: {
      type: [String, Function],
      default: "white"
    },
    rightBg: {
      type: [String, Function],
      default: "go-primary-o"
    },
    rightTextColor: {
      type: [String, Function],
      default: "white"
    },
    padding: {
      type: [Number, String, Function],
      default: "25"
    },
    bold: {
      type: [Boolean, Function, String],
      default: true
    }
  },
  methods: {
    click() {
      this.$emit("click");
    }
  }
};
</script>

<style>
.remove-btn-ness {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  background: none;
}

/* CONTAINER TO MAKE BLOCK MODE */
.go-btn--container {
  width: auto;
  height: 48px;
  display: inline-flex;
  align-items: center;
}
.go-btn--container-block {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
}

/* BUTTON */
/* width: 100%; */
.go-btn {
  width: auto;
  height: 48px;
}
.go-btn--block {
  height: 48px;
  width: 100%;
}
.go-btn--icon {
  min-width: 48px;
  width: 48px !important;
  height: 48px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  font-size: 165%;
}
.bg-go-primary-o {
  background: #e53f2d;
}

.bg-go-secondary-o {
  background: #232b38;
}
</style>
// Sizes
// style and size and class attrs