<template>
  <div>
    <div class="go-app-loading-backdrop"></div>
    <div class="go-app-loading-spinner"></div>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
body {
  padding: 0;
  margin: 0;
}
.go-app-loading-backdrop {
  z-index: 999998;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--q-color-secondary);
}
.go-app-loading-spinner {
  position: fixed;
  width: 150px;
  height: 150px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-image: url(../../../statics/go-animate.gif);
  background-size: contain;
  z-index: 999999;
}
</style>